// Mixins

// Animations

/* Animation Keyframes*/

@mixin keyframes($name) {
	@-moz-keyframes #{$name} { 
		@content;
	}
	
	@-webkit-keyframes #{$name} { 
		@content;
	}
	
	@-keyframes #{$name} { 
		@content;
	}
}

@include keyframes(spin) {
	to {
		-moz-transform: rotate(360deg);
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@include keyframes(fade) {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}