// App styles

body.scoreboard {
		
	main.scoreboard {
		
		ul#scoreboard--list {
			
			display: grid;
			position: relative;
			
			margin: 0;
			padding: 10px;
			grid-gap: 10px;
			
			@include xs {
				grid-template-columns: 1fr;
				grid-template-rows: repeat(26, minmax(auto, 1fr));
				grid-template-areas: "p1" "p2" "p3" "p4" "p5" "p6" "p7" "p8" "p9" "p10" "p11" "p12" "p13" "p14" "p15" "p16" "p17" "p18" "p19" "p20" "p21" "p22" "p23" "p24" "p25" "p26";
			}
			@include sm {
				grid-template-columns: repeat(2, 1fr);
				grid-template-rows: repeat(13, auto);
				grid-template-areas: 	"p1 p2" 
										"p3 p4"
										"p5 p6"
										"p7 p8"
										"p9 p10"
										"p11 p12"
										"p13 p14"
										"p15 p16"
										"p17 p18"
										"p19 p20"
										"p21 p22"
										"p23 p24"
										"p25 p26";
			}
			@include md {
				grid-template-columns: repeat(2, 1fr);
				grid-template-rows: repeat(13, auto);
				grid-template-areas: 	"p1 p2" 
										"p3 p4"
										"p5 p6"
										"p7 p8"
										"p9 p10"
										"p11 p12"
										"p13 p14"
										"p15 p16"
										"p17 p18"
										"p19 p20"
										"p21 p22"
										"p23 p24"
										"p25 p26";
			}
			@include lg {
				grid-template-rows: repeat(9, auto);
				grid-template-columns: repeat(3, 1fr);
				
				grid-template-areas: 	"p1 p10 p19"
										"p2 p11 p20"
										"p3 p12 p21"
										"p4 p13 p22"
										"p5 p14 p23"
										"p6 p15 p24"
										"p7 p16 p25"
										"p8 p17 p26"
										"p9 p18 .";
				
			}
			@include xl {
				grid-template-rows: repeat(7, auto);
				grid-template-columns: repeat(4, 1fr);	
				
				grid-template-areas: 	"p1 p8  p15 p22"
										"p2 p9  p16 p23"
										"p3 p10 p17 p24"
										"p4 p11 p18 p25"
										"p5 p12 p19 p26"
										"p6 p13 p20 ."
										"p7 p14 p21 .";
					
			}				
			
		}
		
		&[data-layout="performance"] {				
			@for $i from 1 through 26 {
			  li[data-runningorder="#{$i}"] {
				grid-area: p#{$i};
			  }
			}
		}
		&[data-layout="rank"] {				
			@for $i from 1 through 26 {
			  li[data-leaderboard="#{$i}"] {
				grid-area: p#{$i};
			  }
			}
		}
		
		&[data-calculation="total"] {
			span[id^='total-points'] {
				visibility: visible;
			}
			span[id^='average-points'] {
				visibility: hidden;
			}
		}
		&[data-calculation="average"] {
			span[id^='total-points'] {
				visibility: hidden;
			}
			span[id^='average-points'] {
				visibility: visible;
			}
		}
		
		li.scoreboard--list--entry {
			
			display: grid;
			
			
			grid-template-rows: auto auto;
			grid-template-columns: auto auto;
		
			grid-template-areas: 	"pos  		nowplaying"
									"country 	score";
			
			
			@include xs {
				padding: 10px;
			}
			@include sm-up {
				padding: 15px;
			}
			
			@include toggleLightDark(background, $gray-200, $gray-800);
			
			
			&[data-nowplaying='true'] {
				@include toggleLightDark(background, $cyan, $cyan);
				@include toggleLightDark(background-image, url("#{$nowplaying}"), url("#{$nowplaying}"));
				@include toggleLightDark(background-repeat, no-repeat, no-repeat);
				@include toggleLightDark(background-clip, border-box, border-box);
				@include toggleLightDark(background-size, cover, cover);
				@include toggleLightDark(background-position, center center, center center);
				
				@include toggleLightDark(color, $white, $white);	
									
				span.now-playing {
					display: block;
				}
				span.running-order {
					@include toggleLightDark(color, $white, $white);
				}
				span.country {
					font-weight: bold;
				}
				
			}
			&[data-nowplaying='false'] {				
				span.now-playing {
					display: none;
				}
			}
			
			&[data-leaderboard='1'] {
				@include toggleLightDark(background, lighten($gold, 45%), lighten($gold, 45%));
				@include toggleLightDark(background-image, url("#{$goldspinner}"), url("#{$goldspinner}"));

				&::after {
					content: "1st place";
				}
			}
			&[data-leaderboard='2'] {
				@include toggleLightDark(background, lighten($silver, 45%), lighten($silver, 45%));
				@include toggleLightDark(background-image, url("#{$silverspinner}"), url("#{$silverspinner}"));
				&::after {
					content: "2nd place";
				}				
			}
			&[data-leaderboard='3'] {
				@include toggleLightDark(background, lighten($bronze, 65%), lighten($bronze, 65%));
				@include toggleLightDark(background-image, url("#{$bronzespinner}"), url("#{$bronzespinner}"));

				&::after {
					content: "3rd place";
				}
			}
			
			&[data-leaderboard='1'],
			&[data-leaderboard='2'],
			&[data-leaderboard='3'] {
				
				background-repeat: no-repeat;
				background-clip: border-box;
				background-size: 100% 300%;
				background-position: center right;
				
				@include toggleLightDark(color, $black, $black);
				
				&::after {
					display: block;
					grid-area: pos;
					align-self: flex-start;
					
					padding-bottom: 15px;
					
					line-height: 	1;
					
					@include toggleLightDark(color, $black, $black);
					
					@include xs {
						font-size: 20px;
					}
					@include sm {
						font-size: 20px;
					}
					@include md {
						font-size: 15px;
					}
					@include lg {
						font-size: 20px;
					}
					@include xl {
						font-size: 25px;
					}
				}
				span.running-order {
					display: none !important;
				}
				span.country {
					font-weight: bold;
				}
			
			}
			
			span.running-order {
				grid-area: pos;
				align-self: flex-start;
				
				padding-bottom: 15px;
				
				line-height: 	1;
				
				@include toggleLightDark(color, $gray-600, $gray-500);

				
				@include xs {
					font-size: 20px;
				}
				@include sm {
					font-size: 20px;
				}
				@include md {
					font-size: 15px;
				}
				@include lg {
					font-size: 20px;
				}
				@include xl {
					font-size: 25px;
				}
				
			}
			span.now-playing {
				grid-area: nowplaying;
				align-self: flex-start;
				justify-self: flex-end;
			}
			span.country {
				grid-area: country;
				align-self: flex-end;
				
				line-height: 	1;
				
				@include xs {
					font-size: 20px;
				}
				@include sm {
					font-size: 20px;
				}
				@include md {
					font-size: 20px;
				}
				@include lg {
					font-size: 20px;
				}
				@include xl {
					font-size: 30px;
				}
				
			}
			span.score {
				grid-area: score;
				align-self: flex-end;
				justify-self: flex-end;
				
				font-weight: bold;
				line-height: 	1;
				
				@include xs {
					font-size: 30px;
				}
				@include sm {
					font-size: 30px;
				}
				@include md {
					font-size: 30px;
				}
				@include lg {
					font-size: 35px;
				}
				@include xl {
					font-size: 45px;
				}
			}
			
		}
		
		aside#message-center {
			
			display: block;
			position: fixed;
			z-index: 1000000;
			
			left: 0;
			right: 0;
			
			margin: 0;
			padding: 0;
			
			height: auto;
			min-height: 0px;
			
			@include sm-up {
				max-width: calc(50% - 15px);
				box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
				border-radius: 20px 20px 0 20px;
				margin: auto 10px auto auto;
			}
			
			@include toggleLightDark(background, $cyan, $cyan);
			@include toggleLightDark(color, $white, $white);
			
			@include xs {
				width: 100%;
				padding: 10px;
			}
			@include sm {
				padding: 15px 20px;
				border-radius: 20px 20px 0 20px;
			}
			@include md {
				padding: 20px 30px;
				border-radius: 20px 20px 0 20px;
			}
			@include lg {
				padding: 20px 30px;
				border-radius: 20px 20px 0 20px;
			}
			@include xl {
				padding: 20px 30px;
				border-radius: 30px 30px 0 30px;
			}
			
			&::after {
				@include md-up {
					display: block;
					position: absolute;
					content: "";
					width: 30px;
					height: 30px;
					border-top: 20px solid $cyan;
					border-left: 40px solid transparent;					
					bottom: -20px;
					right: 0;
					
				}
			}
			
			h1 {
				@extend h2;
				padding: 0 0 10px 0;
			}
			
			p {
				padding: 0;
				line-height: 1.2;
				
				@include xs {
					font-size: 20px;
				}
				@include sm {
					font-size: 20px;
				}
				@include md {
					font-size: 20px;
				}
				@include lg {
					font-size: 20px;
				}
				@include xl {
					font-size: 30px;
				}
			}
			
			&[data-messagesshow='true'] {
				transition: all 2s;
				
				&[data-messagesposition='top'] {
					bottom: auto;
					top: 0;
					@include md-up {
						top: 10px;
					}
				}
				&[data-messagesposition='bottom'] {
					top: auto;
					bottom: 0;
					@include md-up {
						bottom: 20px;
					}
				}
			}
			&[data-messagesshow='false'] {	
				transition: all 2s;
							
				&[data-messagesposition='top'] {
					bottom: auto;
					top: -500px;		
				}
				&[data-messagesposition='bottom'] {
					top: auto;
					bottom: -500px;
				}
			}
				
		}
		
	}
	
}

// App styles

body.vote {
	
	main.vote {
		
		ul#vote--list {
			
			display: grid;
			position: relative;
			
			margin: 0;
			
			width: 100%;			
			max-width: 1200px;
			
			justify-self: center;
			
			@include xs {
				padding: 10px;
				grid-gap: 30px;
			}
			@include sm-up {
				padding: 15px;
				grid-gap: 15px;
			}
			@include lg-up {
				padding: 20px;
				grid-gap: 20px;
			}
			
			&[data-event='semi-final-one'],
			&[data-event='semi-final-two'] {
				
				grid-template-rows: repeat(17, minmax(200px, auto));
				grid-template-columns: 1fr;		
				
			}
			
			&[data-event='grand-final'],
			&[data-event='faux-final'] {
				
				grid-template-rows: repeat(26, minmax(200px, auto));
				grid-template-columns: 1fr;
				
			}
			
		}
		
		li.scoreboard--list--entry {
			
			display: grid;
			
			@include xs {
				grid-template-rows: auto auto repeat(5, 1fr);
				grid-template-columns: repeat(2, 1fr);
				grid-template-areas: 	"pos pos"
										"country country"
										"one two"
										"three four"
										"five six"
										"seven eight"
										"ten twelve";
				
				grid-gap: 2px;
			}
			@include sm-up {
				grid-template-rows: repeat(2, 1fr);
				grid-template-columns: minmax(250px, 30%) repeat(5, 1fr);
				grid-template-areas: 	"pos  		one two three four five"
										"country 	six seven eight ten twelve";
										
				grid-gap: 2px;
			}
			@include lg-up {
				grid-template-rows: repeat(2, 1fr);
				grid-template-columns: minmax(250px, 50%) repeat(5, 1fr);
				grid-template-areas: 	"pos  		one two three four five"
										"country 	six seven eight ten twelve";
																
				grid-gap: 2px;
			}
			
			
			@include xs {
				padding: 10px;
			}
			@include sm-up {
				padding: 15px;
			}		
			
			@include toggleLightDark(background, $gray-200, $gray-800);
			
			span.running-order {
				grid-area: pos;
				align-self: flex-start;
				
				@include toggleLightDark(color, $gray-600, $gray-500);
				
				line-height: 	1;
				
				@include xs {
					font-size: 20px;
				}
				@include sm {
					font-size: 20px;
				}
				@include md {
					font-size: 30px;
				}
				@include lg {
					font-size: 30px;
				}
				@include xl {
					font-size: 30px;
				}
			}
			span.country {
				grid-area: country;
				align-self: flex-end;
				
				line-height: 	1;
				
				@include xs {
					padding: 20px 0;
					font-size: 25px;
				}
				@include sm {
					font-size: 25px;
				}
				@include md {
					font-size: 25px;
				}
				@include lg {
					font-size: 35px;
				}
				@include xl {
					font-size: 40px;
				}
			}
			
			button {
				min-height: 75px;
				min-width: unset;
				margin: 0;
			}
			
		}
		
	}
		
}

// App styles

body.admin {
	
	main.admin {
		
		padding-bottom: 30px;
		
		fieldset#optionsNowPlaying {
			ul {
				display: grid;
				padding: 0;
				
				
				@include xs {
					grid-template-columns: auto;
				}
				@include sm-up {
					grid-template-columns: auto auto;
				}
				@include md-up {
					grid-template-columns: auto auto auto;
				}
			}
		}
		
		fieldset#optionsMessageCenter {
			
			display: grid;
			grid-gap: 30px;
			
			@include xs {
				grid-template-columns: auto;
				grid-template-rows: auto auto auto auto;
				grid-template-areas: "title" "ul1" "ul2" "msg";
			}
			@include sm-up {
				grid-template-columns: auto auto;
				grid-template-rows: auto auto auto;
				grid-template-areas: "title title" "ul1 ul2" "msg msg";
			}
			
			ul {
				display: grid;
				padding: 0 0 30px 0;
				
				@include xs {
					grid-template-columns: auto;
				}
				
				&:nth-of-type(1) {
					@include xs {
						border-bottom: 1px solid;
						@include toggleLightDark(border-color, $gray-700, $gray-300);
					}
				}
			}
			
			div.text-input {
				display: grid;
				grid-area: msg;
				
				@include sm-down {
					grid-template-areas: "label" "hint" "textbox" "textarea" "btn";
					grid-template-columns: auto;
					grid-template-rows: auto auto auto auto auto;
					grid-gap: 20px;
				}
				@include md-up {
					grid-template-areas: "label label" "hint hint" "textbox btn" "textarea btn";
					grid-template-rows: auto auto auto auto;
					grid-template-columns: 6fr 1fr;
					grid-gap: 20px;
				}
				
				label {
					grid-area: label;
				}
				span.label-hint {
					grid-area: hint;
				}
				input#messageTitle {
					grid-area: textbox;
					margin-top: 0;
				}
				textarea#messageBody {
					grid-area: textarea;
					margin-top: 0;
				}
				button {
					grid-area: btn;
				}
			}
			
		}
		
	}
		
}