// App styles

body#scoreboard {
	
	header#scoreboard--header {
		
		display: grid;
		position: relative;
		
		z-index: 100;
		
		width: 100%;
		justify-content: center;
		align-content: center;
		
		@include xs {
			min-height: 100vh;
		}
		@include sm-up {
			min-height: 50vh;
		}
		
		@include toggleLightDark(background, $gray-200, $true-black);
		
		text-align: center;
		
		p.lead {
			font-size: 		$p-font-size-base * 1.5;
			line-height: 	$p-line-height-base * 1.5;
			padding-bottom: 	$p-padding-bottom * 1.5;
			
			@include xs {
				font-size: 		$p-font-size-base-xs * 1.1;
				line-height: 	$p-line-height-base-xs;
				padding-bottom: 	$p-padding-bottom-xs * 1.5;
			}
			@include sm {
				font-size: 		$p-font-size-base-sm * 1.25;
				line-height: 	$p-line-height-base-sm * 1.1;
				padding-bottom: 	$p-padding-bottom-sm * 1.5;
			}
			@include md {
				font-size: 		$p-font-size-base-md * 1.25;
				line-height: 	$p-line-height-base-md * 1.1;
				padding-bottom: 	$p-padding-bottom-md * 1.5;
			}
			@include lg {
				font-size: 		$p-font-size-base-lg * 1.25;
				line-height: 	$p-line-height-base-lg * 1.1;
				padding-bottom: 	$p-padding-bottom-lg * 1.5;
			}
			@include xl {
				font-size: 		$p-font-size-base-xl * 1.25;
				line-height: 	$p-line-height-base-xl * 1.1;
				padding-bottom: 	$p-padding-bottom-xl * 1.5;
			}
			
			font-weight:		bold;
		}
		
		p.down-arrow {
			@include xs {
				margin-top: 10vh;
			}
			@include sm-up {
				display: none !important;
			}
		}
	}
		
	main.scoreboard {
		
		ul#scoreboard--list {
			
			display: grid;
			position: relative;
			
			margin: 0;
			
			padding: 10px;
			grid-gap: 10px;
			
			@include xs {
				grid-template-columns: 1fr;
			}
			@include sm-up {
				grid-template-columns: 1fr 1fr;
			}
			@include lg-up {
				grid-template-columns: 1fr 1fr 1fr;		
			}
			@include xl {
				grid-template-columns: 1fr 1fr 1fr 1fr;		
			}
			
		}
		
		li.scoreboard--list--entry {
			
			display: grid;
			
			grid-template-rows: auto auto;
			grid-template-columns: auto auto;
			grid-template-areas: 	"pos  		nowplaying"
									"country 	score";
			
			
			@include xs {
				padding: 10px;
			}
			@include sm-up {
				padding: 15px;
			}
			
			@include toggleLightDark(background, $gray-200, $gray-800);			
			
			&[data-nowplaying='true'] {				
				span.now-playing {
					display: block;
				}
			}
			&[data-nowplaying='false'] {				
				span.now-playing {
					display: none;
				}
			}
			&[data-leaderboard='1'],
			&[data-leaderboard='2'],
			&[data-leaderboard='3'] {
				&::after {
					display: block;
					grid-area: pos;
					align-self: flex-start;
					
					padding-bottom: 15px;
					
					line-height: 	1;
					
					@include toggleLightDark(color, $black, $white);
					
					@include xs {
						font-size: 20px;
					}
					@include sm {
						font-size: 20px;
					}
					@include md {
						font-size: 15px;
					}
					@include lg {
						font-size: 20px;
					}
					@include xl {
						font-size: 25px;
					}
				}
				span.running-order {
					display: none !important;
				}
				
				
			}
			&[data-leaderboard='1'] {
				@include toggleLightDark(background, $gold, $gold);
				&::after {
					content: "1st place";
				}
			}
			&[data-leaderboard='2'] {
				@include toggleLightDark(background, $silver, $silver);
				&::after {
					content: "2nd place";
				}
			}
			&[data-leaderboard='3'] {
				@include toggleLightDark(background, $bronze, $bronze);
				&::after {
					content: "3rd place";
				}
			}
			
			span.running-order {
				grid-area: pos;
				align-self: flex-start;
				
				padding-bottom: 15px;
				
				line-height: 	1;
				
				@include toggleLightDark(color, $gray-600, $gray-500);

				
				@include xs {
					font-size: 20px;
				}
				@include sm {
					font-size: 20px;
				}
				@include md {
					font-size: 15px;
				}
				@include lg {
					font-size: 20px;
				}
				@include xl {
					font-size: 25px;
				}
				
			}
			span.now-playing {
				grid-area: nowplaying;
				align-self: flex-start;
				justify-self: flex-end;
			}
			span.country {
				grid-area: country;
				align-self: flex-end;
				
				line-height: 	1;
				
				@include xs {
					font-size: 20px;
				}
				@include sm {
					font-size: 20px;
				}
				@include md {
					font-size: 20px;
				}
				@include lg {
					font-size: 20px;
				}
				@include xl {
					font-size: 30px;
				}
				
			}
			span.score {
				grid-area: score;
				align-self: flex-end;
				justify-self: flex-end;
				
				font-weight: bold;
				line-height: 	1;
				
				@include xs {
					font-size: 30px;
				}
				@include sm {
					font-size: 30px;
				}
				@include md {
					font-size: 30px;
				}
				@include lg {
					font-size: 35px;
				}
				@include xl {
					font-size: 45px;
				}
				
				
				
			}
			
		}
		
	}
		
}

// App styles

body#vote {
	
	header#vote--header {
		
		display: grid;
		position: relative;
		
		z-index: 100;
		
		width: 100%;
		justify-content: center;
		align-content: center;
		
		@include xs {
			min-height: 100vh;
		}
		@include sm-up {
			min-height: 50vh;
		}
		
		@include toggleLightDark(background, $gray-200, $true-black);
		
		text-align: center;
		
		p.lead {
			font-size: 		$p-font-size-base * 1.5;
			line-height: 	$p-line-height-base * 1.5;
			padding-bottom: 	$p-padding-bottom * 1.5;
			
			@include xs {
				font-size: 		$p-font-size-base-xs * 1.1;
				line-height: 	$p-line-height-base-xs;
				padding-bottom: 	$p-padding-bottom-xs * 1.5;
			}
			@include sm {
				font-size: 		$p-font-size-base-sm * 1.25;
				line-height: 	$p-line-height-base-sm * 1.1;
				padding-bottom: 	$p-padding-bottom-sm * 1.5;
			}
			@include md {
				font-size: 		$p-font-size-base-md * 1.25;
				line-height: 	$p-line-height-base-md * 1.1;
				padding-bottom: 	$p-padding-bottom-md * 1.5;
			}
			@include lg {
				font-size: 		$p-font-size-base-lg * 1.25;
				line-height: 	$p-line-height-base-lg * 1.1;
				padding-bottom: 	$p-padding-bottom-lg * 1.5;
			}
			@include xl {
				font-size: 		$p-font-size-base-xl * 1.25;
				line-height: 	$p-line-height-base-xl * 1.1;
				padding-bottom: 	$p-padding-bottom-xl * 1.5;
			}
			
			font-weight:		bold;
		}
		
		p.down-arrow {
			@include xs {
				margin-top: 10vh;
			}
			@include sm-up {
				display: none !important;
			}
		}
	}
		
	main.vote {
		
		ul#vote--list {
			
			display: grid;
			position: relative;
			
			margin: 0;
			
			width: 100%;			
			max-width: 1200px;
			
			justify-self: center;
			
			@include xs {
				padding: 10px;
				grid-gap: 30px;
			}
			@include sm-up {
				padding: 15px;
				grid-gap: 15px;
			}
			@include lg-up {
				padding: 20px;
				grid-gap: 20px;
			}
			
			&.semi-final-one,
			&.semi-final-two {
				
				grid-template-rows: repeat(17, minmax(200px, auto));
				grid-template-columns: 1fr;		
				
			}
			
			&.grand-final,
			&.faux-final {
				
				grid-template-rows: repeat(26, minmax(200px, auto));
				grid-template-columns: 1fr;
				
			}
			
		}
		
		li.scoreboard--list--entry {
			
			display: grid;
			
			@include xs {
				grid-template-rows: auto auto repeat(5, 1fr);
				grid-template-columns: repeat(2, 1fr);
				grid-template-areas: 	"pos pos"
										"country country"
										"one two"
										"three four"
										"five six"
										"seven eight"
										"ten twelve";
				
				grid-gap: 2px;
			}
			@include sm-up {
				grid-template-rows: repeat(2, 1fr);
				grid-template-columns: minmax(250px, 30%) repeat(5, 1fr);
				grid-template-areas: 	"pos  		one two three four five"
										"country 	six seven eight ten twelve";
										
				grid-gap: 2px;
			}
			@include lg-up {
				grid-template-rows: repeat(2, 1fr);
				grid-template-columns: minmax(250px, 50%) repeat(5, 1fr);
				grid-template-areas: 	"pos  		one two three four five"
										"country 	six seven eight ten twelve";
																
				grid-gap: 2px;
			}
			
			
			@include xs {
				padding: 10px;
			}
			@include sm-up {
				padding: 15px;
			}		
			
			@include toggleLightDark(background, $gray-200, $gray-800);
			
			span.running-order {
				grid-area: pos;
				align-self: flex-start;
				
				@include toggleLightDark(color, $gray-600, $gray-500);
				
				line-height: 	1;
				
				@include xs {
					font-size: 20px;
				}
				@include sm {
					font-size: 20px;
				}
				@include md {
					font-size: 30px;
				}
				@include lg {
					font-size: 30px;
				}
				@include xl {
					font-size: 30px;
				}
			}
			span.country {
				grid-area: country;
				align-self: flex-end;
				
				line-height: 	1;
				
				@include xs {
					padding: 20px 0;
					font-size: 25px;
				}
				@include sm {
					font-size: 25px;
				}
				@include md {
					font-size: 25px;
				}
				@include lg {
					font-size: 35px;
				}
				@include xl {
					font-size: 40px;
				}
			}
			
			button {
				min-height: 75px;
				min-width: unset;
				margin: 0;
			}
			
		}
		
	}
		
}

// App styles

body#admin {
	
	header#admin--header {
		
		display: grid;
		position: relative;
		
		z-index: 100;
		
		width: 100%;
		justify-content: center;
		align-content: center;
		
		@include xs {
			min-height: 100vh;
		}
		@include sm-up {
			min-height: 50vh;
		}
		
		@include toggleLightDark(background, $gray-200, $true-black);
		
		text-align: center;
		
		p.lead {
			font-size: 		$p-font-size-base * 1.5;
			line-height: 	$p-line-height-base * 1.5;
			padding-bottom: 	$p-padding-bottom * 1.5;
			
			@include xs {
				font-size: 		$p-font-size-base-xs * 1.1;
				line-height: 	$p-line-height-base-xs;
				padding-bottom: 	$p-padding-bottom-xs * 1.5;
			}
			@include sm {
				font-size: 		$p-font-size-base-sm * 1.25;
				line-height: 	$p-line-height-base-sm * 1.1;
				padding-bottom: 	$p-padding-bottom-sm * 1.5;
			}
			@include md {
				font-size: 		$p-font-size-base-md * 1.25;
				line-height: 	$p-line-height-base-md * 1.1;
				padding-bottom: 	$p-padding-bottom-md * 1.5;
			}
			@include lg {
				font-size: 		$p-font-size-base-lg * 1.25;
				line-height: 	$p-line-height-base-lg * 1.1;
				padding-bottom: 	$p-padding-bottom-lg * 1.5;
			}
			@include xl {
				font-size: 		$p-font-size-base-xl * 1.25;
				line-height: 	$p-line-height-base-xl * 1.1;
				padding-bottom: 	$p-padding-bottom-xl * 1.5;
			}
			
			font-weight:		bold;
		}
		
		p.down-arrow {
			@include xs {
				margin-top: 10vh;
			}
			@include sm-up {
				display: none !important;
			}
		}
	}
		
	main.admin {
		
		fieldset#optionsNowPlaying {
			ul {
				display: grid;
				padding: 0;
				
				
				@include xs {
					grid-template-columns: auto;
				}
				@include sm-up {
					grid-template-columns: auto auto;
				}
				@include md-up {
					grid-template-columns: auto auto auto;
				}
				@include xl-up {
					grid-template-columns: auto auto auto auto;
				}
			}
		}
		
	}
		
}