@font-face {
	font-family: 'JP';
	
	font-weight: normal;
	font-style: normal;
	
	src: 	url('../fonts/JPFont-Regular.eot');
	src: 	url('../fonts/JPFont-Regular.eot?#iefix') format('embedded-opentype'),
			url('../fonts/JPFont-Regular.woff2') format('woff2'),
			url('../fonts/JPFont-Regular.woff') format('woff'),
			url('../fonts/JPFont-Regular.ttf') format('truetype');
	
	   -moz-font-feature-settings:	$font-feature-settings;
		 -o-font-feature-settings:	$font-feature-settings;
	-webkit-font-feature-settings:	$font-feature-settings;
			font-feature-settings:	$font-feature-settings;
				 
	font-display: fallback;
}

@font-face {
	font-family: 'JP';
	
	font-weight: normal;
	font-style: italic;
	
	src: 	url('../fonts/JPFont-Italic.eot');
	src: 	url('../fonts/JPFont-Italic.eot?#iefix') format('embedded-opentype'),
			url('../fonts/JPFont-Italic.woff2') format('woff2'),
			url('../fonts/JPFont-Italic.woff') format('woff'),
			url('../fonts/JPFont-Italic.ttf') format('truetype');
	
	-moz-font-feature-settings:	$font-feature-settings;
	-o-font-feature-settings:	$font-feature-settings;
	-webkit-font-feature-settings:	$font-feature-settings;
	font-feature-settings:	$font-feature-settings;
		
	font-display: fallback;
}
 
@font-face {
	font-family: 'JP';
	
	font-weight: bold;
	font-style: normal;
	
	src: 	url('../fonts/JPFont-Bold.eot');
	src: 	url('../fonts/JPFont-Bold.eot?#iefix') format('embedded-opentype'),
			url('../fonts/JPFont-Bold.woff2') format('woff2'),
			url('../fonts/JPFont-Bold.woff') format('woff'),
			url('../fonts/JPFont-Bold.ttf') format('truetype');
	
	-moz-font-feature-settings:	$font-feature-settings;
	-o-font-feature-settings:	$font-feature-settings;
	-webkit-font-feature-settings:	$font-feature-settings;
	font-feature-settings:	$font-feature-settings;
		
	font-display: fallback;
}
 
@font-face {
	font-family: 'JP';
	
	font-weight: bold;
	font-style: italic;
	
	src: 	url('../fonts/JPFont-BoldItalic.eot');
	src: 	url('../fonts/JPFont-BoldItalic.eot?#iefix') format('embedded-opentype'),
			url('../fonts/JPFont-BoldItalic.woff2') format('woff2'),
			url('../fonts/JPFont-BoldItalic.woff') format('woff'),
			url('../fonts/JPFont-BoldItalic.ttf') format('truetype');
	
	-moz-font-feature-settings:	$font-feature-settings;
	-o-font-feature-settings:	$font-feature-settings;
	-webkit-font-feature-settings:	$font-feature-settings;
	font-feature-settings:	$font-feature-settings;
		
	font-display: fallback;
}