@font-face {
	font-family: 'JP';
	
	font-weight: normal;
	font-style: normal;
	
	src: 	url('../fonts/iA/Regular.eot');
	src: 	url('../fonts/iA/Regular.eot?#iefix') format('embedded-opentype'),
			url('../fonts/iA/Regular.woff2') format('woff2'),
			url('../fonts/iA/Regular.woff') format('woff'),
			url('../fonts/iA/Regular.ttf') format('truetype');
	
	   -moz-font-feature-settings:	$font-feature-settings;
		 -o-font-feature-settings:	$font-feature-settings;
	-webkit-font-feature-settings:	$font-feature-settings;
			font-feature-settings:	$font-feature-settings;
				 
	font-display: fallback;
}

@font-face {
	font-family: 'JP';
	
	font-weight: normal;
	font-style: italic;
	
	src: 	url('../fonts/iA/Italic.eot');
	src: 	url('../fonts/iA/Italic.eot?#iefix') format('embedded-opentype'),
			url('../fonts/iA/Italic.woff2') format('woff2'),
			url('../fonts/iA/Italic.woff') format('woff'),
			url('../fonts/iA/Italic.ttf') format('truetype');
	
	-moz-font-feature-settings:	$font-feature-settings;
	-o-font-feature-settings:	$font-feature-settings;
	-webkit-font-feature-settings:	$font-feature-settings;
	font-feature-settings:	$font-feature-settings;
		
	font-display: fallback;
}
 
@font-face {
	font-family: 'JP';
	
	font-weight: bold;
	font-style: normal;
	
	src: 	url('../fonts/iA/Bold.eot');
	src: 	url('../fonts/iA/Bold.eot?#iefix') format('embedded-opentype'),
			url('../fonts/iA/Bold.woff2') format('woff2'),
			url('../fonts/iA/Bold.woff') format('woff'),
			url('../fonts/iA/Bold.ttf') format('truetype');
	
	-moz-font-feature-settings:	$font-feature-settings;
	-o-font-feature-settings:	$font-feature-settings;
	-webkit-font-feature-settings:	$font-feature-settings;
	font-feature-settings:	$font-feature-settings;
		
	font-display: fallback;
}
 
@font-face {
	font-family: 'JP';
	
	font-weight: bold;
	font-style: italic;
	
	src: 	url('../fonts/iA/BoldItalic.eot');
	src: 	url('../fonts/iA/BoldItalic.eot?#iefix') format('embedded-opentype'),
			url('../fonts/iA/BoldItalic.woff2') format('woff2'),
			url('../fonts/iA/BoldItalic.woff') format('woff'),
			url('../fonts/iA/BoldItalic.ttf') format('truetype');
	
	-moz-font-feature-settings:	$font-feature-settings;
	-o-font-feature-settings:	$font-feature-settings;
	-webkit-font-feature-settings:	$font-feature-settings;
	font-feature-settings:	$font-feature-settings;
		
	font-display: fallback;
}