// Footer styles

footer#site-footer {
	
	display: 		block;	
	position: 		relative;
	
	@include xs {
		padding-top: 			$footer-padding-top-xs * 5;
		padding-bottom: 		$footer-padding-bottom-xs * 4;
	}
	@include sm {
		padding-top: 			$footer-padding-top-sm * 10;
		padding-bottom: 		$footer-padding-bottom-sm * 4;
	}
	@include md {
		padding-top: 			$footer-padding-top-md * 10;
		padding-bottom: 		$footer-padding-bottom-md * 4;
	}
	@include lg {
		padding-top: 			$footer-padding-top-lg * 10;
		padding-bottom: 		$footer-padding-bottom-lg * 4;
	}
	@include xl {
		padding-top: 			$footer-padding-top-xl * 10;
		padding-bottom: 		$footer-padding-bottom-xl * 4;
	}
	
	@include toggleLightDark(background, $gray-200, $true-black);

	div.footer {
		
		aside#footer--wordmark {
			
			@include xs {
				margin-bottom: 50px;
			}
			
			@include sm-up {
				float: left; 
				width: 50%;
			}			
		
			p {
				display: block;
				
				@include xs {
					font-size: 		$footer-font-size-base-xs;
					line-height: 	$footer-line-height-base-xs;
					padding-top: 		$footer-padding-top-xs;
					padding-bottom: 	$footer-padding-bottom-xs;
				}
				@include sm {
					font-size: 		$footer-font-size-base-sm;
					line-height: 	$footer-line-height-base-sm;
					padding-top: 		$footer-padding-top-sm;
					padding-bottom: 	$footer-padding-bottom-sm;
				}
				@include md {
					font-size: 		$footer-font-size-base-md;
					line-height: 	$footer-line-height-base-md;
					padding-top: 		$footer-padding-top-md;
					padding-bottom: 	$footer-padding-bottom-md;
				}
				@include lg {
					font-size: 		$footer-font-size-base-lg;
					line-height: 	$footer-line-height-base-lg;
					padding-top: 		$footer-padding-top-lg;
					padding-bottom: 	$footer-padding-bottom-lg;
				}
				@include xl {
					font-size: 		$footer-font-size-base-xl;
					line-height: 	$footer-line-height-base-xl;
					padding-top: 		$footer-padding-top-xl;
					padding-bottom: 	$footer-padding-bottom-xl;
				}
				
				font-weight:		$footer-font-weight;
				
				&.footer--wordmark {
					font-weight:		$footer-wordmark-font-weight;
				}
			}
			
			a.footer--site-link {
				
				@include toggleLightDark(color, $footer-color, $footer-color-dark-mode);	

				text-decoration: 		$footer-text-decoration;
			
				&:hover{
					color:				$footer-color-hover;
					text-decoration: 	$footer-text-decoration-hover;
				}
				&:focus {
					color: 				$black;
				}
				&:hover:focus {
					color: 				$white;
				}
				
			}
			
		}

		nav#footer--links {
			
			@include sm-up {
				float: right; 
				width: 50%;
			}
			
			ul {
				display: block;
				position: relative;
				
				width: 100%;
				
				@include xs {
					float: left;
				}
				@include sm-up {
					float: right;	
				}
				
				
				
				padding: 0;
				margin: 0;
				
				list-style: none;
				
				@include clearfix;
			}
		
			li {
				display: inline-block;
				position: relative;
				
				width: 50%;
				float: left;
				
				border: none !important;
				
				@include sm-up {
					text-align: right;
				}
				
				&:last-child {
					float: right;
				}
				
				@include xs {
					font-size: 		$footer-font-size-base-xs;
					line-height: 	$footer-line-height-base-xs;
					padding-top: 		$footer-padding-top-xs;
					padding-bottom: 	$footer-padding-bottom-xs;
				}
				@include sm {
					font-size: 		$footer-font-size-base-sm;
					line-height: 	$footer-line-height-base-sm;
					padding-top: 		$footer-padding-top-sm;
					padding-bottom: 	$footer-padding-bottom-sm;
				}
				@include md {
					font-size: 		$footer-font-size-base-md;
					line-height: 	$footer-line-height-base-md;
					padding-top: 		$footer-padding-top-md;
					padding-bottom: 	$footer-padding-bottom-md;
				}
				@include lg {
					font-size: 		$footer-font-size-base-lg * 0.75;
					line-height: 	$footer-line-height-base-lg * 0.75;
					padding-top: 		$footer-padding-top-lg;
					padding-bottom: 	0;
				}
				@include xl {
					font-size: 		$footer-font-size-base-xl * 0.75;
					line-height: 	$footer-line-height-base-xl * 0.75;
					padding-top: 		$footer-padding-top-xl;
					padding-bottom: 	0;
				}
				
				font-weight:		$footer-font-weight;
				
				&.footer--wordmark {
					font-weight:		$footer-wordmark-font-weight;
				}
			}
			
			a.footer--nav-link {
					
				@include toggleLightDark(color, $footer-nav-color, $footer-nav-color-dark-mode);
		
				text-decoration: 		$footer-text-decoration;
			
				&:hover{
					color:				$footer-color-hover;
					text-decoration: 	$footer-text-decoration-hover;
				}
				&:focus {
					color: 				$black;
				}
				&:hover:focus {
					color: 				$white;
				}
				
			}
			
		}
		
		@include clearfix;


	}
	
}