// Home page styles

body#four-oh-four {
	
	.colophon {
		
		max-width: 	750px;

		h1.colophon-heading {
			@include xs {
				font-size: 		$h1-404-font-size-base-xs * 1.5;	
				line-height:	$h1-404-line-height-base-xs * 1.5;
				padding-top: 	$h1-404-padding-top-xs * 1.5;
				padding-bottom: $h1-404-padding-bottom-xs / 4;
				margin-left: 	-3px;
			}
			@include sm {
				font-size: 		$h1-404-font-size-base-sm * 1.5;	
				line-height:	$h1-404-line-height-base-sm * 1.5;
				padding-bottom: $h1-404-padding-bottom-sm / 4;
				margin-left: 	-6px;
			}
			@include md {
				font-size: 		$h1-404-font-size-base-md * 2;	
				line-height:	$h1-404-line-height-base-md * 2;
				padding-top: 	$h1-404-padding-top-md * 2;
				padding-bottom: $h1-404-padding-bottom-md / 4;
				margin-left: 	-8px;
			}
			@include lg {
				font-size: 		$h1-404-font-size-base-lg * 2;	
				line-height:	$h1-404-line-height-base-lg * 2;
				padding-top: 	$h1-404-padding-top-lg * 1.35;
				padding-bottom: $h1-404-padding-bottom-lg / 4;
				margin-left: 	-10px;
			}
			@include xl {
				font-size: 		$h1-404-font-size-base-xl * 2;	
				line-height:	$h1-404-line-height-base-xl * 2;
				padding-top: 	$h1-404-padding-top-xl * 1.5;
				padding-bottom: $h1-404-padding-bottom-xl / 4;
				margin-left: 	-10px;
			}
		}

	}
	
}