// Global styles

@at-root {
	@-ms-viewport { 
		width: device-width;
	} // stylelint-disable-line at-rule-no-vendor-prefix
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  -ms-overflow-style: scrollbar;
  
  min-height: 101vh;
}

html,
body {
	
	position: 				relative;
		
	margin: 				0;
	padding: 				0;
	
	font-family: 			$font-family-sans-serif;
	font-kerning: 			auto;
	letter-spacing: 		normal;

	box-sizing: border-box;
	
	@include toggleLightDark(background, $body-background, $body-background-dark-mode);
	@include toggleLightDark(color, $body-color, $body-color-dark-mode);
	
}

main {
	
	@include xs {
		min-height: 100vh;
	}
	@include sm {
		min-height: 100vh;
	}
	@include md {
		min-height: 100vh;
	}
	@include lg {
		min-height: 100vh;
	}
	@include xl {
		min-height: 100vh;
	}
	
	&#content {
		
		display: grid;
		position: relative;
		
		z-index: 100;
		
		@include toggleLightDark(background, $body-background, $body-background-dark-mode);
		
	}
		
}