// App styles

body#home {
		
	main#content {
		
		@include md-down {
			
			grid-template-rows: auto auto;
			grid-template-columns: 1fr;	
			grid-gap: 20px;
			
		}
		
		@include md-up {
			
			grid-template-rows: auto;
			grid-template-columns: 1fr 1fr;
			grid-gap: 60px;
			
		}
				
		padding-top: 30px;
		padding-bottom: 30px;

	}
	
	section#home--welcome {
		
		p.lead {
			font-size: 		$p-font-size-base * 1.5;
			line-height: 	$p-line-height-base * 1.5;
			padding-bottom: 	$p-padding-bottom * 1.5;
			
			@include xs {
				font-size: 		$p-font-size-base-xs * 1.1;
				line-height: 	$p-line-height-base-xs;
				padding-bottom: 	$p-padding-bottom-xs * 1.5;
			}
			@include sm {
				font-size: 		$p-font-size-base-sm * 1.25;
				line-height: 	$p-line-height-base-sm * 1.1;
				padding-bottom: 	$p-padding-bottom-sm * 1.5;
			}
			@include md {
				font-size: 		$p-font-size-base-md * 1.25;
				line-height: 	$p-line-height-base-md * 1.1;
				padding-bottom: 	$p-padding-bottom-md * 1.5;
			}
			@include lg {
				font-size: 		$p-font-size-base-lg * 1.25;
				line-height: 	$p-line-height-base-lg * 1.1;
				padding-bottom: 	$p-padding-bottom-lg * 1.5;
			}
			@include xl {
				font-size: 		$p-font-size-base-xl * 1.25;
				line-height: 	$p-line-height-base-xl * 1.1;
				padding-bottom: 	$p-padding-bottom-xl * 1.5;
			}
			
			font-weight:		bold;
			max-width: 30ch;
		}
		
	}
	
	ul#home--menu--list {
		
		display: grid;
		position: relative;
		
		padding: 0;
		margin: 0;
		
		grid-template-rows: 	repeat(3, 1fr);
		grid-template-columns: 	1fr;
		
		@include xs {
			grid-row-gap: 20px;
		}
		@include sm-up {
			grid-row-gap: 			30px;
			
			height: 				100%;
			max-height: 			100vh;
		}
		
		li.home--menu--list-item {
			
			display: grid;
			
			padding: 20px;
			
			@include xs {
				grid-template-columns: auto;
				grid-template-rows: repeat(2, auto) repeat(2, 1fr);
				grid-row-gap: 10px;
				grid-template-areas: 	"event" "date" "scoreboard" "vote";
			}
			
			@include sm-up {
				padding: 20px;
				grid-template-columns: repeat(2, 1fr);
				grid-template-rows: repeat(2, 50%) repeat(2, 50%);
				grid-template-areas: 	"event scoreboard"
										"date vote";
			}
			
			@include toggleLightDark(background, $gray-200, $gray-800);
			
			font-size: 		$p-font-size-base * 1.2;
			line-height: 	1;
			
			@include xs {
				font-size: 		$p-font-size-base-xs * 1.2;
			}
			@include sm {
				font-size: 		$p-font-size-base-sm * 1.2;
			}
			@include md {
				font-size: 		$p-font-size-base-md * 1.2;
			}
			@include lg {
				font-size: 		$p-font-size-base-lg * 1.4;
			}
			@include xl {
				font-size: 		$p-font-size-base-xl * 1.4;
			}
			
			font-weight:		$p-font-weight;
			
			a {
				display: block;
				
				margin: 	0px;
				padding: 	20px;
				
				@include sm-up {
					padding: 30px 40px;
					align-self: flex-end;
				}
				
				width: 		100%; 
				height: 	100%;
				
				@include toggleLightDark(background, $cyan, $cyan);
				@include toggleLightDark(color, $black, $white);
				@include toggleLightDark(border-color, $white, $black);
				
				text-decoration: none;
				align-self: flex-end;
				
				&:hover {
					@include toggleLightDark(background, $gray-700, $gray-300);
					@include toggleLightDark(color, $white, $black);
					cursor: pointer;
					
					z-index: 999;
				}
				&:focus {
					background: $yellow;
					@include toggleLightDark(color, $black, $black);
					
					outline: 5px solid $yellow;
					outline-offset: 2px;
					border-radius: 0 !important;
					cursor: pointer;
					text-decoration: none;
					
					z-index: 999;
				}
				&:hover:focus {
					text-decoration: underline !important;
					
					z-index: 999;
				}
				
			}
			
			span.home--menu--list-item--event {
				align-self: flex-start;
				font-weight: bold;
				grid-area: event;
			}
			
			span.home--menu--list-item--date {
				align-self: flex-start;
				font-weight: normal;
				grid-area: date;
			}
			
		}	

	}
		
}