section#loader {
	
	display: grid;
	position: fixed;
	
	width: 100vw;
	height: 100vh;
	
	z-index: 999999999;
	overflow: hidden;
	justify-content: center;
	align-content: center;
	
	top: 0;
	
	opacity: 1;
	
	@include toggleLightDark(background, $body-background, $body-background-dark-mode);
	@include toggleLightDark(background-image, url("#{$loader}"), url("#{$loader}"));
	@include toggleLightDark(background-repeat, no-repeat, no-repeat);
	@include toggleLightDark(background-clip, border-box, border-box);
	@include toggleLightDark(background-size, cover, cover);
	@include toggleLightDark(background-position, center center, center center);
	
	&.fade-out {
		-webkit-animation: fade-out 1s ease-in forwards;
		-moz-animation: fade-out 1s ease-in forwards;
		animation: fade-out 1s ease-in forwards;
	}
	
	h1 {
		position: relative;
		display: block;
		margin: 0;
		padding: 0;
	}
	
}