// Variables

//
// Color system
//

// stylelint-disable
$true-white:   	 					#ffffff !default;
$white:   	 						#fafafa !default;
$gray-100:	 						#f8f9fa !default;
$gray-200:	 						#e9ecef !default;
$gray-300:	 						#dee2e6 !default;
$gray-400:	 						#ced4da !default;
$gray-500: 	 						#adb5bd !default;
$gray-600: 	 						#868e96 !default;
$gray-700: 	 						#495057 !default;
$gray-800: 	 						#343a40 !default;
$gray-900: 	 						#212529 !default;
$black:    	 						#1d1d1d !default;
$true-black: 	 					#000000 !default;

$blue:    	 						#007aff !default;
$facebook-blue: 					#3b5998 !default;
$purple:  	 						#c643fc !default;
$magenta:   	 					#e6007e !default;
$red:     	 						#B10E1E !default;
$orange:  	 						#ff5e3a !default;
$yellow:  	 						#ffed00 !default;
$bad-ideas-yellow:                  #FFD700 !default;
$green:   	 						#0bd318 !default;
$cyan:    	 						#009fe3 !default;
$gold:								#AF9500 !default;
$silver:							#6C6C6C !default;
$bronze:							#6A3805 !default;


// Default colors

$body-background:					$white;
$body-color:							$black;

$body-background-dark-mode:			$black;
$body-color-dark-mode:				$white;

$skiplink-color:						$white;
$skiplink-background:				$cyan;
$skiplink-color-dark-mode:			$black;
$skiplink-background-dark-mode:		$cyan;

$link-color:							$black;
$link-color-dark-mode:				$white;
$link-hover-color:					$cyan;
$link-focus-color:                  $white;
$link-hover-color-dark-mode:			$cyan;
$link-focus-color-dark-mode:        $white;
$link-font-weight:					normal;
$link-outline:						none;
$link-text-decoration:				underline;
$link-text-decoration-hover:		underline;
$link-text-decoration-focus:		underline;

$header-background:					$white;
$header-background-dark-mode:		$black;

$footer-color:						$body-color;
$footer-nav-color:					$gray-600;
$footer-color-dark-mode:			$body-color-dark-mode;
$footer-nav-color-dark-mode:		$gray-600;
$footer-color-hover:				$link-hover-color;
$footer-color-hover-dark-mode: 		$link-hover-color-dark-mode;

$code-color:							$black;
$code-background:						$gray-200;
$code-color-dark-mode:					$white;
$code-background-dark-mode:				$gray-700;
$code-padding:							0 3px;
$code-border-radius:					5px;
$blockquote-code-color:					$black;
$blockquote-code-color-dark-mode:		$white;

$blockquote-background:					$gray-200;
$blockquote-background-dark-mode:		$gray-700;

// DEFAULT TEXT SIZES & SPACING

$p-font-size-base:					18px;
$p-font-size-base-xs:				$p-font-size-base;
$p-font-size-base-sm:				20px;
$p-font-size-base-md:				20px;
$p-font-size-base-lg:				22px;
$p-font-size-base-xl:				24px;

$p-line-height-base:					$p-font-size-base + ($p-font-size-base / 4);
$p-line-height-base-xs:				$p-line-height-base;
$p-line-height-base-sm:				$p-font-size-base-sm + ($p-font-size-base-sm / 4);
$p-line-height-base-md:				$p-font-size-base-md + ($p-font-size-base-md / 4);
$p-line-height-base-lg:				$p-font-size-base-lg + ($p-font-size-base-lg / 4);
$p-line-height-base-xl:				$p-font-size-base-xl + ($p-font-size-base-xl / 5);

$p-margin-top:						$p-font-size-base;
$p-margin-top-xs:					$p-font-size-base-xs;
$p-margin-top-sm:					$p-font-size-base-sm;
$p-margin-top-md:					$p-font-size-base-md;
$p-margin-top-lg:					$p-font-size-base-lg;
$p-margin-top-xl:					$p-font-size-base-xl;

$p-margin-bottom:					$p-font-size-base;
$p-margin-bottom-xs:					$p-font-size-base-xs;
$p-margin-bottom-sm:					$p-font-size-base-sm;
$p-margin-bottom-md:					$p-font-size-base-md;
$p-margin-bottom-lg:					$p-font-size-base-lg;
$p-margin-bottom-xl:					$p-font-size-base-xl;

$p-padding-top:						$p-font-size-base;
$p-padding-top-xs:					$p-font-size-base-xs;
$p-padding-top-sm:					$p-font-size-base-sm;
$p-padding-top-md:					$p-font-size-base-md;
$p-padding-top-lg:					$p-font-size-base-lg;
$p-padding-top-xl:					$p-font-size-base-xl;

$p-padding-bottom:					$p-font-size-base;
$p-padding-bottom-xs:					$p-font-size-base-xs;
$p-padding-bottom-sm:					$p-font-size-base-sm;
$p-padding-bottom-md:					$p-font-size-base-md;
$p-padding-bottom-lg:					$p-font-size-base-lg;
$p-padding-bottom-xl:					$p-font-size-base-xl;

$p-font-weight:						normal;

// HEADER TEXT SIZES & SPACING

$header-font-size-base:					$p-font-size-base + 6px;
$header-font-size-base-xs:				$header-font-size-base;
$header-font-size-base-sm:				$p-font-size-base-sm + 6px;
$header-font-size-base-md:				$p-font-size-base-md + 6px;
$header-font-size-base-lg:				$p-font-size-base-lg + 6px;
$header-font-size-base-xl:				$p-font-size-base-xl + 6px;

$header-line-height-base:				$p-font-size-base;
$header-line-height-base-xs:			$header-line-height-base + 13px;
$header-line-height-base-sm:			$header-font-size-base-sm + 7px;
$header-line-height-base-md:			$header-font-size-base-md - 1px;
$header-line-height-base-lg:			$header-font-size-base-lg;
$header-line-height-base-xl:			$header-font-size-base-xl;

$header-padding-top:					$header-font-size-base / 2;
$header-padding-top-xs:					14px;
$header-padding-top-sm:					$header-font-size-base-sm / 2;
$header-padding-top-md:					$header-font-size-base-md / 2;
$header-padding-top-lg:					$header-font-size-base-lg / 2;
$header-padding-top-xl:					$header-font-size-base-xl / 2;

$header-padding-bottom:					$header-font-size-base / 2;
$header-padding-bottom-xs:				$header-font-size-base-xs / 2;
$header-padding-bottom-sm:				$header-font-size-base-sm / 2;
$header-padding-bottom-md:				$header-font-size-base-md / 2;
$header-padding-bottom-lg:				$header-font-size-base-lg / 2;
$header-padding-bottom-xl:				$header-font-size-base-xl / 2;

$header-height-base:                    $p-line-height-base + $header-padding-top + $header-padding-bottom;
$header-height-base-xs:                 $p-line-height-base-xs + $header-padding-top-xs + $header-padding-bottom-xs;
$header-height-base-sm:                 $p-line-height-base-sm + $header-padding-top-sm + $header-padding-bottom-sm;
$header-height-base-md:                 $p-line-height-base-md + $header-padding-top-md + $header-padding-bottom-md;
$header-height-base-lg:                 $p-line-height-base-lg + $header-padding-top-lg + $header-padding-bottom-lg;
$header-height-base-xl:                 $p-line-height-base-xl + $header-padding-top-xl + $header-padding-bottom-xl;


$header-wordmark-font-weight:				bold;
$header-font-weight:						normal;
$header-text-decoration:					none;
$header-text-decoration-hover:			    underline;


// FOOTER TEXT SIZES & SPACING

$footer-font-size-base:					$p-font-size-base - 4px;
$footer-font-size-base-xs:				$footer-font-size-base;
$footer-font-size-base-sm:				$p-font-size-base-sm - 4px;
$footer-font-size-base-md:				$p-font-size-base-md - 4px;
$footer-font-size-base-lg:				$p-font-size-base-lg - 4px;
$footer-font-size-base-xl:				$p-font-size-base-xl - 4px;

$footer-line-height-base:				$footer-font-size-base - ($footer-font-size-base / 4);
$footer-line-height-base-xs:				$footer-line-height-base;
$footer-line-height-base-sm:				$footer-font-size-base-sm - ($footer-font-size-base-sm / 4);
$footer-line-height-base-md:				$footer-font-size-base-md - ($footer-font-size-base-md / 4);
$footer-line-height-base-lg:				$footer-font-size-base-lg - ($footer-font-size-base-lg / 4);
$footer-line-height-base-xl:				$footer-font-size-base-xl - ($footer-font-size-base-xl / 5);

$footer-padding-top:						$footer-font-size-base / 2;
$footer-padding-top-xs:					$footer-font-size-base-xs / 2;
$footer-padding-top-sm:					$footer-font-size-base-sm / 2;
$footer-padding-top-md:					$footer-font-size-base-md / 2;
$footer-padding-top-lg:					$footer-font-size-base-lg / 2;
$footer-padding-top-xl:					$footer-font-size-base-xl / 2;

$footer-padding-bottom:					$footer-font-size-base / 2;
$footer-padding-bottom-xs:				$footer-font-size-base-xs / 2;
$footer-padding-bottom-sm:				$footer-font-size-base-sm / 2;
$footer-padding-bottom-md:				$footer-font-size-base-md / 2;
$footer-padding-bottom-lg:				$footer-font-size-base-lg / 2;
$footer-padding-bottom-xl:				$footer-font-size-base-xl / 2;

$footer-wordmark-font-weight:				bold;
$footer-font-weight:						normal;
$footer-text-decoration:					none;
$footer-text-decoration-hover:			none;

// FOOT NOTES TEXT SIZES & SPACING

$footnotes-font-size-base:				16px;
$footnotes-font-size-base-xs:				$footnotes-font-size-base;
$footnotes-font-size-base-sm:				18px;
$footnotes-font-size-base-md:				18px;
$footnotes-font-size-base-lg:				20px;
$footnotes-font-size-base-xl:				22px;

$footnotes-line-height-base:				$footnotes-font-size-base + ($footnotes-font-size-base / 4);
$footnotes-line-height-base-xs:			$footnotes-line-height-base;
$footnotes-line-height-base-sm:			$footnotes-font-size-base-sm + ($footnotes-font-size-base-sm / 4);
$footnotes-line-height-base-md:			$footnotes-font-size-base-md + ($footnotes-font-size-base-md / 4);
$footnotes-line-height-base-lg:			$footnotes-font-size-base-lg + ($footnotes-font-size-base-lg / 4);
$footnotes-line-height-base-xl:			$footnotes-font-size-base-xl + ($footnotes-font-size-base-xl / 5);

$footnotes-padding-bottom:				$footnotes-font-size-base;
$footnotes-padding-bottom-xs:				$footnotes-font-size-base-xs;
$footnotes-padding-bottom-sm:				$footnotes-font-size-base-sm;
$footnotes-padding-bottom-md:				$footnotes-font-size-base-md;
$footnotes-padding-bottom-lg:				$footnotes-font-size-base-lg;
$footnotes-padding-bottom-xl:				$footnotes-font-size-base-xl;

$footnotes-font-weight:					normal;

// H1 TEXT SIZES & SPACING

$h1-font-size-base:					$p-font-size-base * 2;
$h1-font-size-base-xs:				$h1-font-size-base;
$h1-font-size-base-sm:				$p-font-size-base-sm * 2.75;
$h1-font-size-base-md:				$p-font-size-base-md * 2.75;
$h1-font-size-base-lg:				$p-font-size-base-lg * 2.75;
$h1-font-size-base-xl:				$p-font-size-base-xl * 2.75;

$h1-line-height-base:				$h1-font-size-base * 0.9;
$h1-line-height-base-xs:				$h1-line-height-base;
$h1-line-height-base-sm:				$h1-font-size-base-sm;
$h1-line-height-base-md:				$h1-font-size-base-md;
$h1-line-height-base-lg:				$h1-font-size-base-lg;
$h1-line-height-base-xl:				$h1-font-size-base-xl;

$h1-padding-top:						$h1-font-size-base * 2;
$h1-padding-top-xs:					$h1-font-size-base-xs * 2;
$h1-padding-top-sm:					$h1-font-size-base-sm * 2;
$h1-padding-top-md:					$h1-font-size-base-md * 2;
$h1-padding-top-lg:					$h1-font-size-base-lg * 2;
$h1-padding-top-xl:					$h1-font-size-base-xl * 2;

$h1-padding-bottom:					$h1-font-size-base;
$h1-padding-bottom-xs:				$h1-font-size-base-xs;
$h1-padding-bottom-sm:				$h1-font-size-base-sm;
$h1-padding-bottom-md:				$h1-font-size-base-md;
$h1-padding-bottom-lg:				$h1-font-size-base-lg;
$h1-padding-bottom-xl:				$h1-font-size-base-xl;

$h1-font-weight:						bold;
$h1-font-style:						normal;
$h1-text-align:						left;
$h1-text-decoration:					none;
$h1-text-transform:					none;

// H1 TEXT SIZES & SPACING
// 404 PAGE ONLY

$h1-404-font-size-base:					$p-font-size-base * 2;
$h1-404-font-size-base-xs:				$h1-404-font-size-base;
$h1-404-font-size-base-sm:				$p-font-size-base-sm * 2.75;
$h1-404-font-size-base-md:				$p-font-size-base-md * 2.75;
$h1-404-font-size-base-lg:				$p-font-size-base-lg * 2.75;
$h1-404-font-size-base-xl:				$p-font-size-base-xl * 2.75;

$h1-404-line-height-base:				$h1-404-font-size-base * 0.9;
$h1-404-line-height-base-xs:				$h1-404-line-height-base;
$h1-404-line-height-base-sm:				$h1-404-font-size-base-sm;
$h1-404-line-height-base-md:				$h1-404-font-size-base-md;
$h1-404-line-height-base-lg:				$h1-404-font-size-base-lg;
$h1-404-line-height-base-xl:				$h1-404-font-size-base-xl;

$h1-404-padding-top:						$h1-404-font-size-base * 2;
$h1-404-padding-top-xs:					$h1-404-font-size-base-xs * 2;
$h1-404-padding-top-sm:					$h1-404-font-size-base-sm * 2;
$h1-404-padding-top-md:					$h1-404-font-size-base-md * 2;
$h1-404-padding-top-lg:					$h1-404-font-size-base-lg * 2;
$h1-404-padding-top-xl:					$h1-404-font-size-base-xl * 2;

$h1-404-padding-bottom:					$h1-404-font-size-base;
$h1-404-padding-bottom-xs:				$h1-404-font-size-base-xs;
$h1-404-padding-bottom-sm:				$h1-404-font-size-base-sm;
$h1-404-padding-bottom-md:				$h1-404-font-size-base-md;
$h1-404-padding-bottom-lg:				$h1-404-font-size-base-lg;
$h1-404-padding-bottom-xl:				$h1-404-font-size-base-xl;

$h1-404-font-weight:						bold;
$h1-404-font-style:						normal;
$h1-404-text-align:						left;
$h1-404-text-decoration:					none;
$h1-404-text-transform:					none;

// h2 TEXT SIZES & SPACING

$h2-font-size-base:					$p-font-size-base + 5px;
$h2-font-size-base-xs:				$h2-font-size-base;
$h2-font-size-base-sm:				$p-font-size-base-sm + 10px;
$h2-font-size-base-md:				$p-font-size-base-md + 10px;
$h2-font-size-base-lg:				$p-font-size-base-lg + 10px;
$h2-font-size-base-xl:				$p-font-size-base-xl + 10px;

$h2-line-height-base:				$h2-font-size-base + ($h2-font-size-base / 4);
$h2-line-height-base-xs:				$h2-line-height-base;
$h2-line-height-base-sm:				$h2-font-size-base-sm + ($h2-font-size-base-sm / 4);
$h2-line-height-base-md:				$h2-font-size-base-md + ($h2-font-size-base-md / 4);
$h2-line-height-base-lg:				$h2-font-size-base-lg + ($h2-font-size-base-lg / 4);
$h2-line-height-base-xl:				$h2-font-size-base-xl + ($h2-font-size-base-xl / 4);

$h2-padding-top:					$h2-font-size-base * 2;
$h2-padding-top-xs:					$h2-font-size-base-xs * 2;
$h2-padding-top-sm:					$h2-font-size-base-sm * 2;
$h2-padding-top-md:					$h2-font-size-base-md * 2;
$h2-padding-top-lg:					$h2-font-size-base-lg * 2;
$h2-padding-top-xl:					$h2-font-size-base-xl * 2;

$h2-padding-bottom:					$h2-font-size-base;
$h2-padding-bottom-xs:				$h2-font-size-base-xs;
$h2-padding-bottom-sm:				$h2-font-size-base-sm;
$h2-padding-bottom-md:				$h2-font-size-base-md;
$h2-padding-bottom-lg:				$h2-font-size-base-lg;
$h2-padding-bottom-xl:				$h2-font-size-base-xl;

$h2-font-weight:						bold;
$h2-font-style:						normal;
$h2-text-align:						center;
$h2-text-decoration:					none;
$h2-text-transform:					none;

// h3 TEXT SIZES & SPACING

$h3-font-size-base:					$p-font-size-base;
$h3-font-size-base-xs:				$h3-font-size-base;
$h3-font-size-base-sm:				$p-font-size-base-sm;
$h3-font-size-base-md:				$p-font-size-base-md;
$h3-font-size-base-lg:				$p-font-size-base-lg;
$h3-font-size-base-xl:				$p-font-size-base-xl;

$h3-line-height-base:				$h3-font-size-base + ($h3-font-size-base / 4);
$h3-line-height-base-xs:				$h3-line-height-base;
$h3-line-height-base-sm:				$h3-font-size-base-sm + ($h3-font-size-base-sm / 4);
$h3-line-height-base-md:				$h3-font-size-base-md + ($h3-font-size-base-md / 4);
$h3-line-height-base-lg:				$h3-font-size-base-lg + ($h3-font-size-base-lg / 4);
$h3-line-height-base-xl:				$h3-font-size-base-xl + ($h2-font-size-base-xl / 4);

$h3-padding-top:						$h3-font-size-base;
$h3-padding-top-xs:					$h3-font-size-base-xs;
$h3-padding-top-sm:					$h3-font-size-base-sm;
$h3-padding-top-md:					$h3-font-size-base-md;
$h3-padding-top-lg:					$h3-font-size-base-lg;
$h3-padding-top-xl:					$h3-font-size-base-xl;

$h3-padding-bottom:					$h3-font-size-base / 3;
$h3-padding-bottom-xs:				$h3-font-size-base-xs / 3;
$h3-padding-bottom-sm:				$h3-font-size-base-sm / 3;
$h3-padding-bottom-md:				$h3-font-size-base-md / 3;
$h3-padding-bottom-lg:				$h3-font-size-base-lg / 3;
$h3-padding-bottom-xl:				$h3-font-size-base-xl / 3;

$h3-font-weight:						bold;
$h3-font-style:						normal;
$h3-text-align:						left;
$h3-text-decoration:					none;
$h3-text-transform:					none;

// h4 TEXT SIZES & SPACING

$h4-font-size-base:					$p-font-size-base;
$h4-font-size-base-xs:				$h4-font-size-base;
$h4-font-size-base-sm:				$p-font-size-base-sm;
$h4-font-size-base-md:				$p-font-size-base-md;
$h4-font-size-base-lg:				$p-font-size-base-lg;
$h4-font-size-base-xl:				$p-font-size-base-xl;

$h4-line-height-base:				$h4-font-size-base + ($h4-font-size-base / 4);
$h4-line-height-base-xs:			$h4-line-height-base;
$h4-line-height-base-sm:			$h4-font-size-base-sm + ($h4-font-size-base-sm / 4);
$h4-line-height-base-md:			$h4-font-size-base-md + ($h4-font-size-base-md / 4);
$h4-line-height-base-lg:			$h4-font-size-base-lg + ($h4-font-size-base-lg / 4);
$h4-line-height-base-xl:			$h4-font-size-base-xl + ($h4-font-size-base-xl / 4);

$h4-padding-top:					$h4-font-size-base;
$h4-padding-top-xs:					$h4-font-size-base-xs;
$h4-padding-top-sm:					$h4-font-size-base-sm;
$h4-padding-top-md:					$h4-font-size-base-md;
$h4-padding-top-lg:					$h4-font-size-base-lg;
$h4-padding-top-xl:					$h4-font-size-base-xl;

$h4-padding-bottom:					$h4-font-size-base / 2;
$h4-padding-bottom-xs:				$h4-font-size-base-xs / 2;
$h4-padding-bottom-sm:				$h4-font-size-base-sm / 2;
$h4-padding-bottom-md:				$h4-font-size-base-md / 2;
$h4-padding-bottom-lg:				$h4-font-size-base-lg / 2;
$h4-padding-bottom-xl:				$h4-font-size-base-xl / 2;

$h4-font-weight:					bold;
$h4-font-style:						italic;
$h4-text-align:						left;
$h4-text-decoration:				none;
$h4-text-transform:					none;

// h5 TEXT SIZES & SPACING

$h5-font-size-base:					$p-font-size-base;
$h5-font-size-base-xs:				$h5-font-size-base;
$h5-font-size-base-sm:				$p-font-size-base-sm;
$h5-font-size-base-md:				$p-font-size-base-md;
$h5-font-size-base-lg:				$p-font-size-base-lg;
$h5-font-size-base-xl:				$p-font-size-base-xl;

$h5-line-height-base:				$h5-font-size-base + ($h5-font-size-base / 4);
$h5-line-height-base-xs:			$h5-line-height-base;
$h5-line-height-base-sm:			$h5-font-size-base-sm + ($h5-font-size-base-sm / 4);
$h5-line-height-base-md:			$h5-font-size-base-md + ($h5-font-size-base-md / 4);
$h5-line-height-base-lg:			$h5-font-size-base-lg + ($h5-font-size-base-lg / 4);
$h5-line-height-base-xl:			$h5-font-size-base-xl + ($h5-font-size-base-xl / 4);

$h5-padding-top:					$h5-font-size-base;
$h5-padding-top-xs:					$h5-font-size-base-xs;
$h5-padding-top-sm:					$h5-font-size-base-sm;
$h5-padding-top-md:					$h5-font-size-base-md;
$h5-padding-top-lg:					$h5-font-size-base-lg;
$h5-padding-top-xl:					$h5-font-size-base-xl;

$h5-padding-bottom:					$h5-font-size-base;
$h5-padding-bottom-xs:				$h5-font-size-base-xs;
$h5-padding-bottom-sm:				$h5-font-size-base-sm;
$h5-padding-bottom-md:				$h5-font-size-base-md;
$h5-padding-bottom-lg:				$h5-font-size-base-lg;
$h5-padding-bottom-xl:				$h5-font-size-base-xl;

$h5-font-weight:					bold;


// FORM ELEMENTS

$touch-target-size:                 44px;

$input-size:                       40px;
$border-width-form-element:         3px;
$border-focus-width:                1px;
$input-border-color:                $black;
$input-error-color:                 $red;
$input-focus-color:                 $cyan;
$input-padding:                     5px;

$radios-size:                       40px;
$radios-label-padding-left-right:   20px;

// BREAKPOINT VALUES

$xs: 	 							0;
$sm: 	 							600px;
$md: 	 							766px;
$lg: 	 							1000px;
$xl: 	 							1900px;


// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.

$container-xs: 	 					300px;
$container-sm: 	 					560px;
$container-md: 	 					700px;
$container-lg: 	 					900px;
$container-xl: 	 					1000px;

$container-padding: 	 			15px;

// Fonts
//
// Font, line-height, and color for body text, headings, and more.

// stylelint-disable value-keyword-case
$font-family-sans-serif:      		"JP", -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Helvetica", Roboto, "Segoe UI", Arial, sans-serif !default;
$font-family-monospace:       		"JP", SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
$font-family-base:            		"JP", ui-monospace,'SFMono-Regular', -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Helvetica", Roboto, "Segoe UI", Arial, sans-serif !default;

$font-feature-settings:				"ss02", "tnum", "liga", "zero", "kern";
$sup-font-feature-settings:			"ss02", "tnum", "liga", "zero", "kern", "frac";


$goldspinner: "data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8' standalone='no'%3F%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E%3Csvg xmlns:dc='http://purl.org/dc/elements/1.1/' xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xl='http://www.w3.org/1999/xlink' viewBox='0 0 64 64' width='64' height='64'%3E%3Cdefs/%3E%3Cstyle type='text/css'%3E %23outter %7B -webkit-animation: spin 60s linear infinite; -moz-animation: spin 60s linear infinite; animation: spin 60s linear infinite; -moz-transform-origin: center center; -webkit-transform-origin: center center; transform-origin: center center; %7D %23middle-a, %23middle-b %7B -webkit-animation:spin 45s linear infinite reverse; -moz-animation:spin 45s linear infinite reverse; animation: spin 45s linear infinite reverse; -moz-transform-origin: center center; -webkit-transform-origin: center center; transform-origin: center center; %7D %23inner %7B -webkit-animation: spin 30s linear infinite; -moz-animation:spin 30s linear infinite; animation: spin 30s linear infinite; -moz-transform-origin: center center; -webkit-transform-origin: center center; transform-origin: center center; %7D @-moz-keyframes spin %7B 100%25 %7B -moz-transform: rotate(360deg); %7D %7D @-webkit-keyframes spin %7B 100%25 %7B -webkit-transform: rotate(360deg); %7D %7D @keyframes spin %7B 100%25 %7B transform: rotate(360deg); %7D %7D %3C/style%3E%3Cmetadata%3E Produced by OmniGraffle 7.18.4%5Cn2021-03-17 21:39:42 +0000%3C/metadata%3E%3Cg id='gold' fill-opacity='1' fill='none' stroke='none' stroke-dasharray='none' stroke-opacity='1'%3E%3Ctitle%3Egold%3C/title%3E%3Cg id='gold_Layer_1'%3E%3Ctitle%3ELayer 1%3C/title%3E%3Cg id='outter'%3E%3Ctitle%3Eoutter%3C/title%3E%3Cg id='Graphic_98'%3E%3Cpath d='M 32 32 L 32 2 C 34.62174 2 37.232166 2.3436694 39.76457 3.0222252 L 32 32 Z' fill='%23af9500' fill-opacity='.10020272'/%3E%3C/g%3E%3Cg id='Graphic_97'%3E%3Cpath d='M 32 32 L 47 6.019238 C 49.27049 7.330107 51.359354 8.932947 53.213203 10.786797 L 32 32 Z' fill='%23af9500' fill-opacity='.10020272'/%3E%3C/g%3E%3Cg id='Graphic_96'%3E%3Cpath d='M 32 32 L 57.98076 17 C 60.61381 21.560576 62 26.7339 62 32 L 32 32 Z' fill='%23af9500' fill-opacity='.10020272'/%3E%3C/g%3E%3Cg id='Graphic_95'%3E%3Cpath d='M 32 32 L 60.977775 39.76457 C 60.29922 42.296976 59.29163 44.72951 57.98076 47 L 32 32 Z' fill='%23af9500' fill-opacity='.10020272'/%3E%3C/g%3E%3Cg id='Graphic_94'%3E%3Cpath d='M 32 32 L 53.213203 53.213203 C 47.58711 58.839295 39.956495 62 32 62 L 32 32 Z' fill='%23af9500' fill-opacity='.10020272'/%3E%3C/g%3E%3Cg id='Graphic_93'%3E%3Cpath d='M 32 32 L 24.23543 60.977775 C 21.703024 60.29922 19.270492 59.29163 17 57.98076 L 32 32 Z' fill='%23af9500' fill-opacity='.10020272'/%3E%3C/g%3E%3Cg id='Graphic_92'%3E%3Cpath d='M 32 32 L 10.786797 53.213203 C 8.932947 51.359354 7.330107 49.27049 6.019238 47 L 32 32 Z' fill='%23af9500' fill-opacity='.10020272'/%3E%3C/g%3E%3Cg id='Graphic_91'%3E%3Cpath d='M 32 32 L 2 32 C 2 26.7339 3.386188 21.560576 6.019238 17 L 32 32 Z' fill='%23af9500' fill-opacity='.10020272'/%3E%3C/g%3E%3Cg id='Graphic_90'%3E%3Cpath d='M 32 32 L 10.786797 10.786797 C 14.510492 7.063102 19.148767 4.385192 24.23543 3.0222252 L 32 32 Z' fill='%23af9500' fill-opacity='.10020272'/%3E%3C/g%3E%3C/g%3E%3Cg id='middle-a'%3E%3Ctitle%3Emiddle-a%3C/title%3E%3Cg id='Graphic_89'%3E%3Ctitle%3EAdjustable Wedge%3C/title%3E%3Cpath d='M 32 32 L 36.94109 13.559598 C 38.55262 13.991406 40.100596 14.632598 41.545455 15.466788 L 32 32 Z' fill='%23af9500' fill-opacity='.25088'/%3E%3C/g%3E%3Cg id='Graphic_88'%3E%3Cpath d='M 32 32 L 45.49931 18.500689 C 46.679033 19.68041 47.69902 21.009687 48.53321 22.454545 L 32 32 Z' fill='%23af9500' fill-opacity='.25088'/%3E%3C/g%3E%3Cg id='Graphic_87'%3E%3Cpath d='M 32 32 L 22.454545 48.53321 C 21.009687 47.69902 19.68041 46.679033 18.500689 45.49931 L 32 32 Z' fill='%23af9500' fill-opacity='.25088'/%3E%3C/g%3E%3Cg id='Graphic_86'%3E%3Cpath d='M 32 32 L 15.466788 41.545455 C 14.632598 40.100596 13.991406 38.55262 13.559598 36.94109 L 32 32 Z' fill='%23af9500' fill-opacity='.25088'/%3E%3C/g%3E%3Cg id='Graphic_85'%3E%3Cpath d='M 32 32 L 15.466788 22.454545 C 16.300977 21.009687 17.320967 19.68041 18.500689 18.500689 L 32 32 Z' fill='%23af9500' fill-opacity='.25088'/%3E%3C/g%3E%3Cg id='Graphic_84'%3E%3Cpath d='M 32 32 L 27.05891 13.559598 C 27.917513 13.329536 28.791137 13.15972 29.673403 13.051392 L 32 32 Z' fill='%23af9500' fill-opacity='.25088'/%3E%3C/g%3E%3Cg id='Graphic_83'%3E%3Cpath d='M 32 32 L 48.53321 41.545455 C 47.69902 42.990313 46.679033 44.31959 45.49931 45.49931 L 32 32 Z' fill='%23af9500' fill-opacity='.25088'/%3E%3C/g%3E%3Cg id='Graphic_82'%3E%3Cpath d='M 32 32 L 32 51.09091 C 30.33162 51.09091 28.67044 50.87221 27.05891 50.4404 L 32 32 Z' fill='%23af9500' fill-opacity='.25088'/%3E%3C/g%3E%3C/g%3E%3Cg id='middle-b'%3E%3Ctitle%3Emiddle-b%3C/title%3E%3Cg id='Graphic_81'%3E%3Cpath d='M 32 32 L 50.4404 36.94109 C 50.008594 38.55262 49.3674 40.100596 48.53321 41.545455 L 32 32 Z' fill='%23af9500' fill-opacity='.35189732'/%3E%3C/g%3E%3Cg id='Graphic_80'%3E%3Cpath d='M 32 32 L 41.545455 48.53321 C 38.64327 50.20879 35.351154 51.09091 32 51.09091 L 32 32 Z' fill='%23af9500' fill-opacity='.35189732'/%3E%3C/g%3E%3Cg id='Graphic_79'%3E%3Cpath d='M 32 32 L 18.500689 18.500689 C 19.68041 17.320967 21.009687 16.300977 22.454545 15.466788 L 32 32 Z' fill='%23af9500' fill-opacity='.35189732'/%3E%3C/g%3E%3Cg id='Graphic_78'%3E%3Cpath d='M 32 32 L 12.909091 32 C 12.909091 28.648846 13.79121 25.35673 15.466788 22.454545 L 32 32 Z' fill='%23af9500' fill-opacity='.35189732'/%3E%3C/g%3E%3Cg id='Graphic_77'%3E%3Cpath d='M 32 32 L 48.53321 22.454545 C 49.3674 23.899404 50.008594 25.44738 50.4404 27.05891 L 32 32 Z' fill='%23af9500' fill-opacity='.35189732'/%3E%3C/g%3E%3Cg id='Graphic_76'%3E%3Ctitle%3EAdjustable Wedge%3C/title%3E%3Cpath d='M 32 32 L 32 12.909091 C 33.66838 12.909091 35.32956 13.12779 36.94109 13.559598 L 32 32 Z' fill='%23af9500' fill-opacity='.35189732'/%3E%3C/g%3E%3C/g%3E%3Cg id='inner'%3E%3Ctitle%3Einner%3C/title%3E%3Cg id='Graphic_75'%3E%3Cpath d='M 32 32 L 32 21.09091 C 32.95336 21.09091 33.902606 21.21588 34.82348 21.462627 L 32 32 Z' fill='%23af9500' fill-opacity='.5'/%3E%3C/g%3E%3Cg id='Graphic_74'%3E%3Cpath d='M 32 32 L 37.454545 22.55245 C 39.112937 23.509923 40.490077 24.887063 41.44755 26.545455 L 32 32 Z' fill='%23af9500' fill-opacity='.5'/%3E%3C/g%3E%3Cg id='Graphic_73'%3E%3Cpath d='M 32 32 L 42.90909 32 C 42.90909 32.95336 42.78412 33.902606 42.537373 34.82348 L 32 32 Z' fill='%23af9500' fill-opacity='.5'/%3E%3C/g%3E%3Cg id='Graphic_72'%3E%3Cpath d='M 32 32 L 41.44755 37.454545 C 39.49883 40.82983 35.897443 42.90909 32 42.90909 L 32 32 Z' fill='%23af9500' fill-opacity='.5'/%3E%3C/g%3E%3Cg id='Graphic_71'%3E%3Cpath d='M 32 32 L 29.17652 42.537373 C 28.255645 42.290625 27.371088 41.92423 26.545455 41.44755 L 32 32 Z' fill='%23af9500' fill-opacity='.5'/%3E%3C/g%3E%3Cg id='Graphic_70'%3E%3Cpath d='M 32 32 L 22.55245 37.454545 C 21.594977 35.796154 21.09091 33.914945 21.09091 32 L 32 32 Z' fill='%23af9500' fill-opacity='.5'/%3E%3C/g%3E%3Cg id='Graphic_69'%3E%3Cpath d='M 32 32 L 21.462627 29.17652 C 21.709375 28.255645 22.07577 27.371088 22.55245 26.545455 L 32 32 Z' fill='%23af9500' fill-opacity='.5'/%3E%3C/g%3E%3Cg id='Graphic_68'%3E%3Cpath d='M 32 32 L 24.286108 24.286108 C 25.64018 22.932037 27.326824 21.958252 29.17652 21.462627 L 32 32 Z' fill='%23af9500' fill-opacity='.5'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A";

$silverspinner: "data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8' standalone='no'%3F%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E%3Csvg xmlns:dc='http://purl.org/dc/elements/1.1/' xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xl='http://www.w3.org/1999/xlink' viewBox='0 0 64 64' width='64' height='64'%3E%3Cdefs/%3E%3Cstyle type='text/css'%3E %23outter %7B -webkit-animation: spin 60s linear infinite; -moz-animation: spin 60s linear infinite; animation: spin 60s linear infinite; -moz-transform-origin: center center; -webkit-transform-origin: center center; transform-origin: center center; %7D %23middle-a, %23middle-b %7B -webkit-animation:spin 45s linear infinite reverse; -moz-animation:spin 45s linear infinite reverse; animation: spin 45s linear infinite reverse; -moz-transform-origin: center center; -webkit-transform-origin: center center; transform-origin: center center; %7D %23inner %7B -webkit-animation: spin 30s linear infinite; -moz-animation:spin 30s linear infinite; animation: spin 30s linear infinite; -moz-transform-origin: center center; -webkit-transform-origin: center center; transform-origin: center center; %7D @-moz-keyframes spin %7B 100%25 %7B -moz-transform: rotate(360deg); %7D %7D @-webkit-keyframes spin %7B 100%25 %7B -webkit-transform: rotate(360deg); %7D %7D @keyframes spin %7B 100%25 %7B transform: rotate(360deg); %7D %7D %3C/style%3E%3Cmetadata%3E Produced by OmniGraffle 7.18.4%5Cn2021-03-17 21:46:37 +0000%3C/metadata%3E%3Cg id='silver' fill-opacity='1' fill='none' stroke='none' stroke-dasharray='none' stroke-opacity='1'%3E%3Ctitle%3Esilver%3C/title%3E%3Cg id='silver_Layer_1'%3E%3Ctitle%3ELayer 1%3C/title%3E%3Cg id='outter'%3E%3Ctitle%3Eoutter%3C/title%3E%3Cg id='Graphic_98'%3E%3Cpath d='M 32 32 L 32 2 C 34.62174 2 37.232166 2.3436694 39.76457 3.0222252 L 32 32 Z' fill='%236c6c6c' fill-opacity='.1460846'/%3E%3C/g%3E%3Cg id='Graphic_97'%3E%3Cpath d='M 32 32 L 47 6.019238 C 49.27049 7.330107 51.359354 8.932947 53.213203 10.786797 L 32 32 Z' fill='%236c6c6c' fill-opacity='.1460846'/%3E%3C/g%3E%3Cg id='Graphic_96'%3E%3Cpath d='M 32 32 L 57.98076 17 C 60.61381 21.560576 62 26.7339 62 32 L 32 32 Z' fill='%236c6c6c' fill-opacity='.1460846'/%3E%3C/g%3E%3Cg id='Graphic_95'%3E%3Cpath d='M 32 32 L 60.977775 39.76457 C 60.29922 42.296976 59.29163 44.72951 57.98076 47 L 32 32 Z' fill='%236c6c6c' fill-opacity='.1460846'/%3E%3C/g%3E%3Cg id='Graphic_94'%3E%3Cpath d='M 32 32 L 53.213203 53.213203 C 47.58711 58.839295 39.956495 62 32 62 L 32 32 Z' fill='%236c6c6c' fill-opacity='.1460846'/%3E%3C/g%3E%3Cg id='Graphic_93'%3E%3Cpath d='M 32 32 L 24.23543 60.977775 C 21.703024 60.29922 19.270492 59.29163 17 57.98076 L 32 32 Z' fill='%236c6c6c' fill-opacity='.1460846'/%3E%3C/g%3E%3Cg id='Graphic_92'%3E%3Cpath d='M 32 32 L 10.786797 53.213203 C 8.932947 51.359354 7.330107 49.27049 6.019238 47 L 32 32 Z' fill='%236c6c6c' fill-opacity='.1460846'/%3E%3C/g%3E%3Cg id='Graphic_91'%3E%3Cpath d='M 32 32 L 2 32 C 2 26.7339 3.386188 21.560576 6.019238 17 L 32 32 Z' fill='%236c6c6c' fill-opacity='.1460846'/%3E%3C/g%3E%3Cg id='Graphic_90'%3E%3Cpath d='M 32 32 L 10.786797 10.786797 C 14.510492 7.063102 19.148767 4.385192 24.23543 3.0222252 L 32 32 Z' fill='%236c6c6c' fill-opacity='.1460846'/%3E%3C/g%3E%3C/g%3E%3Cg id='middle-a'%3E%3Ctitle%3Emiddle-a%3C/title%3E%3Cg id='Graphic_89'%3E%3Ctitle%3EAdjustable Wedge%3C/title%3E%3Cpath d='M 32 32 L 36.94109 13.559598 C 38.55262 13.991406 40.100596 14.632598 41.545455 15.466788 L 32 32 Z' fill='%236c6c6c' fill-opacity='.2455854'/%3E%3C/g%3E%3Cg id='Graphic_88'%3E%3Cpath d='M 32 32 L 45.49931 18.500689 C 46.679033 19.68041 47.69902 21.009687 48.53321 22.454545 L 32 32 Z' fill='%236c6c6c' fill-opacity='.2455854'/%3E%3C/g%3E%3Cg id='Graphic_87'%3E%3Cpath d='M 32 32 L 22.454545 48.53321 C 21.009687 47.69902 19.68041 46.679033 18.500689 45.49931 L 32 32 Z' fill='%236c6c6c' fill-opacity='.2455854'/%3E%3C/g%3E%3Cg id='Graphic_86'%3E%3Cpath d='M 32 32 L 15.466788 41.545455 C 14.632598 40.100596 13.991406 38.55262 13.559598 36.94109 L 32 32 Z' fill='%236c6c6c' fill-opacity='.2455854'/%3E%3C/g%3E%3Cg id='Graphic_85'%3E%3Cpath d='M 32 32 L 15.466788 22.454545 C 16.300977 21.009687 17.320967 19.68041 18.500689 18.500689 L 32 32 Z' fill='%236c6c6c' fill-opacity='.2455854'/%3E%3C/g%3E%3Cg id='Graphic_84'%3E%3Cpath d='M 32 32 L 27.05891 13.559598 C 27.917513 13.329536 28.791137 13.15972 29.673403 13.051392 L 32 32 Z' fill='%236c6c6c' fill-opacity='.2455854'/%3E%3C/g%3E%3Cg id='Graphic_83'%3E%3Cpath d='M 32 32 L 48.53321 41.545455 C 47.69902 42.990313 46.679033 44.31959 45.49931 45.49931 L 32 32 Z' fill='%236c6c6c' fill-opacity='.2455854'/%3E%3C/g%3E%3Cg id='Graphic_82'%3E%3Cpath d='M 32 32 L 32 51.09091 C 30.33162 51.09091 28.67044 50.87221 27.05891 50.4404 L 32 32 Z' fill='%236c6c6c' fill-opacity='.2455854'/%3E%3C/g%3E%3C/g%3E%3Cg id='middle-b'%3E%3Ctitle%3Emiddle-b%3C/title%3E%3Cg id='Graphic_81'%3E%3Cpath d='M 32 32 L 50.4404 36.94109 C 50.008594 38.55262 49.3674 40.100596 48.53321 41.545455 L 32 32 Z' fill='%236c6c6c' fill-opacity='.35341012'/%3E%3C/g%3E%3Cg id='Graphic_80'%3E%3Cpath d='M 32 32 L 41.545455 48.53321 C 38.64327 50.20879 35.351154 51.09091 32 51.09091 L 32 32 Z' fill='%236c6c6c' fill-opacity='.35341012'/%3E%3C/g%3E%3Cg id='Graphic_79'%3E%3Cpath d='M 32 32 L 18.500689 18.500689 C 19.68041 17.320967 21.009687 16.300977 22.454545 15.466788 L 32 32 Z' fill='%236c6c6c' fill-opacity='.35341012'/%3E%3C/g%3E%3Cg id='Graphic_78'%3E%3Cpath d='M 32 32 L 12.909091 32 C 12.909091 28.648846 13.79121 25.35673 15.466788 22.454545 L 32 32 Z' fill='%236c6c6c' fill-opacity='.35341012'/%3E%3C/g%3E%3Cg id='Graphic_77'%3E%3Cpath d='M 32 32 L 48.53321 22.454545 C 49.3674 23.899404 50.008594 25.44738 50.4404 27.05891 L 32 32 Z' fill='%236c6c6c' fill-opacity='.35341012'/%3E%3C/g%3E%3Cg id='Graphic_76'%3E%3Ctitle%3EAdjustable Wedge%3C/title%3E%3Cpath d='M 32 32 L 32 12.909091 C 33.66838 12.909091 35.32956 13.12779 36.94109 13.559598 L 32 32 Z' fill='%236c6c6c' fill-opacity='.35341012'/%3E%3C/g%3E%3C/g%3E%3Cg id='inner'%3E%3Ctitle%3Einner%3C/title%3E%3Cg id='Graphic_75'%3E%3Cpath d='M 32 32 L 32 21.09091 C 32.95336 21.09091 33.902606 21.21588 34.82348 21.462627 L 32 32 Z' fill='%236c6c6c' fill-opacity='.50436314'/%3E%3C/g%3E%3Cg id='Graphic_74'%3E%3Cpath d='M 32 32 L 37.454545 22.55245 C 39.112937 23.509923 40.490077 24.887063 41.44755 26.545455 L 32 32 Z' fill='%236c6c6c' fill-opacity='.50436314'/%3E%3C/g%3E%3Cg id='Graphic_73'%3E%3Cpath d='M 32 32 L 42.90909 32 C 42.90909 32.95336 42.78412 33.902606 42.537373 34.82348 L 32 32 Z' fill='%236c6c6c' fill-opacity='.50436314'/%3E%3C/g%3E%3Cg id='Graphic_72'%3E%3Cpath d='M 32 32 L 41.44755 37.454545 C 39.49883 40.82983 35.897443 42.90909 32 42.90909 L 32 32 Z' fill='%236c6c6c' fill-opacity='.50436314'/%3E%3C/g%3E%3Cg id='Graphic_71'%3E%3Cpath d='M 32 32 L 29.17652 42.537373 C 28.255645 42.290625 27.371088 41.92423 26.545455 41.44755 L 32 32 Z' fill='%236c6c6c' fill-opacity='.50436314'/%3E%3C/g%3E%3Cg id='Graphic_70'%3E%3Cpath d='M 32 32 L 22.55245 37.454545 C 21.594977 35.796154 21.09091 33.914945 21.09091 32 L 32 32 Z' fill='%236c6c6c' fill-opacity='.50436314'/%3E%3C/g%3E%3Cg id='Graphic_69'%3E%3Cpath d='M 32 32 L 21.462627 29.17652 C 21.709375 28.255645 22.07577 27.371088 22.55245 26.545455 L 32 32 Z' fill='%236c6c6c' fill-opacity='.50436314'/%3E%3C/g%3E%3Cg id='Graphic_68'%3E%3Cpath d='M 32 32 L 24.286108 24.286108 C 25.64018 22.932037 27.326824 21.958252 29.17652 21.462627 L 32 32 Z' fill='%236c6c6c' fill-opacity='.50436314'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A";

$bronzespinner: "data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8' standalone='no'%3F%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E%3Csvg xmlns:dc='http://purl.org/dc/elements/1.1/' xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xl='http://www.w3.org/1999/xlink' viewBox='0 0 64 64' width='64' height='64'%3E%3Cdefs/%3E%3Cstyle type='text/css'%3E %23outter %7B -webkit-animation: spin 60s linear infinite; -moz-animation: spin 60s linear infinite; animation: spin 60s linear infinite; -moz-transform-origin: center center; -webkit-transform-origin: center center; transform-origin: center center; %7D %23middle-a, %23middle-b %7B -webkit-animation:spin 45s linear infinite reverse; -moz-animation:spin 45s linear infinite reverse; animation: spin 45s linear infinite reverse; -moz-transform-origin: center center; -webkit-transform-origin: center center; transform-origin: center center; %7D %23inner %7B -webkit-animation: spin 30s linear infinite; -moz-animation:spin 30s linear infinite; animation: spin 30s linear infinite; -moz-transform-origin: center center; -webkit-transform-origin: center center; transform-origin: center center; %7D @-moz-keyframes spin %7B 100%25 %7B -moz-transform: rotate(360deg); %7D %7D @-webkit-keyframes spin %7B 100%25 %7B -webkit-transform: rotate(360deg); %7D %7D @keyframes spin %7B 100%25 %7B transform: rotate(360deg); %7D %7D %3C/style%3E%3Cmetadata%3E Produced by OmniGraffle 7.18.4%5Cn2021-03-17 21:47:37 +0000%3C/metadata%3E%3Cg id='bronze' fill-opacity='1' fill='none' stroke='none' stroke-dasharray='none' stroke-opacity='1'%3E%3Ctitle%3Ebronze%3C/title%3E%3Cg id='bronze_Layer_1'%3E%3Ctitle%3ELayer 1%3C/title%3E%3Cg id='outter'%3E%3Ctitle%3Eoutter%3C/title%3E%3Cg id='Graphic_98'%3E%3Cpath d='M 32 32 L 32 2 C 34.62174 2 37.232166 2.3436694 39.76457 3.0222252 L 32 32 Z' fill='%23723400' fill-opacity='.1513262'/%3E%3C/g%3E%3Cg id='Graphic_97'%3E%3Cpath d='M 32 32 L 47 6.019238 C 49.27049 7.330107 51.359354 8.932947 53.213203 10.786797 L 32 32 Z' fill='%23723400' fill-opacity='.1513262'/%3E%3C/g%3E%3Cg id='Graphic_96'%3E%3Cpath d='M 32 32 L 57.98076 17 C 60.61381 21.560576 62 26.7339 62 32 L 32 32 Z' fill='%23723400' fill-opacity='.1513262'/%3E%3C/g%3E%3Cg id='Graphic_95'%3E%3Cpath d='M 32 32 L 60.977775 39.76457 C 60.29922 42.296976 59.29163 44.72951 57.98076 47 L 32 32 Z' fill='%23723400' fill-opacity='.1513262'/%3E%3C/g%3E%3Cg id='Graphic_94'%3E%3Cpath d='M 32 32 L 53.213203 53.213203 C 47.58711 58.839295 39.956495 62 32 62 L 32 32 Z' fill='%23723400' fill-opacity='.1513262'/%3E%3C/g%3E%3Cg id='Graphic_93'%3E%3Cpath d='M 32 32 L 24.23543 60.977775 C 21.703024 60.29922 19.270492 59.29163 17 57.98076 L 32 32 Z' fill='%23723400' fill-opacity='.1513262'/%3E%3C/g%3E%3Cg id='Graphic_92'%3E%3Cpath d='M 32 32 L 10.786797 53.213203 C 8.932947 51.359354 7.330107 49.27049 6.019238 47 L 32 32 Z' fill='%23723400' fill-opacity='.1513262'/%3E%3C/g%3E%3Cg id='Graphic_91'%3E%3Cpath d='M 32 32 L 2 32 C 2 26.7339 3.386188 21.560576 6.019238 17 L 32 32 Z' fill='%23723400' fill-opacity='.1513262'/%3E%3C/g%3E%3Cg id='Graphic_90'%3E%3Cpath d='M 32 32 L 10.786797 10.786797 C 14.510492 7.063102 19.148767 4.385192 24.23543 3.0222252 L 32 32 Z' fill='%23723400' fill-opacity='.1513262'/%3E%3C/g%3E%3C/g%3E%3Cg id='middle-a'%3E%3Ctitle%3Emiddle-a%3C/title%3E%3Cg id='Graphic_89'%3E%3Ctitle%3EAdjustable Wedge%3C/title%3E%3Cpath d='M 32 32 L 36.94109 13.559598 C 38.55262 13.991406 40.100596 14.632598 41.545455 15.466788 L 32 32 Z' fill='%23723400' fill-opacity='.2019614'/%3E%3C/g%3E%3Cg id='Graphic_88'%3E%3Cpath d='M 32 32 L 45.49931 18.500689 C 46.679033 19.68041 47.69902 21.009687 48.53321 22.454545 L 32 32 Z' fill='%23723400' fill-opacity='.2019614'/%3E%3C/g%3E%3Cg id='Graphic_87'%3E%3Cpath d='M 32 32 L 22.454545 48.53321 C 21.009687 47.69902 19.68041 46.679033 18.500689 45.49931 L 32 32 Z' fill='%23723400' fill-opacity='.2019614'/%3E%3C/g%3E%3Cg id='Graphic_86'%3E%3Cpath d='M 32 32 L 15.466788 41.545455 C 14.632598 40.100596 13.991406 38.55262 13.559598 36.94109 L 32 32 Z' fill='%23723400' fill-opacity='.2019614'/%3E%3C/g%3E%3Cg id='Graphic_85'%3E%3Cpath d='M 32 32 L 15.466788 22.454545 C 16.300977 21.009687 17.320967 19.68041 18.500689 18.500689 L 32 32 Z' fill='%23723400' fill-opacity='.2019614'/%3E%3C/g%3E%3Cg id='Graphic_84'%3E%3Cpath d='M 32 32 L 27.05891 13.559598 C 27.917513 13.329536 28.791137 13.15972 29.673403 13.051392 L 32 32 Z' fill='%23723400' fill-opacity='.2019614'/%3E%3C/g%3E%3Cg id='Graphic_83'%3E%3Cpath d='M 32 32 L 48.53321 41.545455 C 47.69902 42.990313 46.679033 44.31959 45.49931 45.49931 L 32 32 Z' fill='%23723400' fill-opacity='.2019614'/%3E%3C/g%3E%3Cg id='Graphic_82'%3E%3Cpath d='M 32 32 L 32 51.09091 C 30.33162 51.09091 28.67044 50.87221 27.05891 50.4404 L 32 32 Z' fill='%23723400' fill-opacity='.2019614'/%3E%3C/g%3E%3C/g%3E%3Cg id='middle-b'%3E%3Ctitle%3Emiddle-b%3C/title%3E%3Cg id='Graphic_81'%3E%3Cpath d='M 32 32 L 50.4404 36.94109 C 50.008594 38.55262 49.3674 40.100596 48.53321 41.545455 L 32 32 Z' fill='%23723400' fill-opacity='.35398124'/%3E%3C/g%3E%3Cg id='Graphic_80'%3E%3Cpath d='M 32 32 L 41.545455 48.53321 C 38.64327 50.20879 35.351154 51.09091 32 51.09091 L 32 32 Z' fill='%23723400' fill-opacity='.35398124'/%3E%3C/g%3E%3Cg id='Graphic_79'%3E%3Cpath d='M 32 32 L 18.500689 18.500689 C 19.68041 17.320967 21.009687 16.300977 22.454545 15.466788 L 32 32 Z' fill='%23723400' fill-opacity='.35398124'/%3E%3C/g%3E%3Cg id='Graphic_78'%3E%3Cpath d='M 32 32 L 12.909091 32 C 12.909091 28.648846 13.79121 25.35673 15.466788 22.454545 L 32 32 Z' fill='%23723400' fill-opacity='.35398124'/%3E%3C/g%3E%3Cg id='Graphic_77'%3E%3Cpath d='M 32 32 L 48.53321 22.454545 C 49.3674 23.899404 50.008594 25.44738 50.4404 27.05891 L 32 32 Z' fill='%23723400' fill-opacity='.35398124'/%3E%3C/g%3E%3Cg id='Graphic_76'%3E%3Ctitle%3EAdjustable Wedge%3C/title%3E%3Cpath d='M 32 32 L 32 12.909091 C 33.66838 12.909091 35.32956 13.12779 36.94109 13.559598 L 32 32 Z' fill='%23723400' fill-opacity='.35398124'/%3E%3C/g%3E%3C/g%3E%3Cg id='inner'%3E%3Ctitle%3Einner%3C/title%3E%3Cg id='Graphic_75'%3E%3Cpath d='M 32 32 L 32 21.09091 C 32.95336 21.09091 33.902606 21.21588 34.82348 21.462627 L 32 32 Z' fill='%23723400' fill-opacity='.5'/%3E%3C/g%3E%3Cg id='Graphic_74'%3E%3Cpath d='M 32 32 L 37.454545 22.55245 C 39.112937 23.509923 40.490077 24.887063 41.44755 26.545455 L 32 32 Z' fill='%23723400' fill-opacity='.5'/%3E%3C/g%3E%3Cg id='Graphic_73'%3E%3Cpath d='M 32 32 L 42.90909 32 C 42.90909 32.95336 42.78412 33.902606 42.537373 34.82348 L 32 32 Z' fill='%23723400' fill-opacity='.5'/%3E%3C/g%3E%3Cg id='Graphic_72'%3E%3Cpath d='M 32 32 L 41.44755 37.454545 C 39.49883 40.82983 35.897443 42.90909 32 42.90909 L 32 32 Z' fill='%23723400' fill-opacity='.5'/%3E%3C/g%3E%3Cg id='Graphic_71'%3E%3Cpath d='M 32 32 L 29.17652 42.537373 C 28.255645 42.290625 27.371088 41.92423 26.545455 41.44755 L 32 32 Z' fill='%23723400' fill-opacity='.5'/%3E%3C/g%3E%3Cg id='Graphic_70'%3E%3Cpath d='M 32 32 L 22.55245 37.454545 C 21.594977 35.796154 21.09091 33.914945 21.09091 32 L 32 32 Z' fill='%23723400' fill-opacity='.5'/%3E%3C/g%3E%3Cg id='Graphic_69'%3E%3Cpath d='M 32 32 L 21.462627 29.17652 C 21.709375 28.255645 22.07577 27.371088 22.55245 26.545455 L 32 32 Z' fill='%23723400' fill-opacity='.5'/%3E%3C/g%3E%3Cg id='Graphic_68'%3E%3Cpath d='M 32 32 L 24.286108 24.286108 C 25.64018 22.932037 27.326824 21.958252 29.17652 21.462627 L 32 32 Z' fill='%23723400' fill-opacity='.5'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A"