---
layout: default
---

<main id="content" class="container wide">
	
	<section id="home--welcome">
	
		<h1>Welcome to the {{ site.title }}.</h1>
		<p class="lead">{{ site.description }}</p>
	
		<p>Cheer on for your favourite entry using the <em>Vote</em> page for each event, and see what everyone things live on the <em>Scoreboard</em>.</p>
		
		<p>For the best results, show the <em>Scoreboard</em> on a separate TV or monitor, and use your phone or tablet to <em>Vote</em>.</p>
		
		<p>Toggle your device's “dark mode” to switch between a light and dark theme.</p>
		
		<p><strong>Having fun?</strong> Let me know! Tweet me <a href="https://twitter.com/johnpeart">@johnpeart</a>.</p>
		
	</section>
	
	<nav id="home--menu">
		
		<ul id="home--menu--list">
			
			<li class="home--menu--list-item">
				<span class="home--menu--list-item--event">Semi-final 1</span>
				<span class="home--menu--list-item--date">18 May 2021</span>
				<a href="{{ site.baseurl }}/semi-final-one/scoreboard#content" title="Load the Semi-final 1 scoreboard" class="left">Scoreboard</a>
				<a href="{{ site.baseurl }}/semi-final-one/vote" title="Vote in Semi-final 1" class="right">Vote</a>
			</li>
			
			<li class="home--menu--list-item">
				<span class="home--menu--list-item--event">Semi-final 2</span>
				<span class="home--menu--list-item--date">20 May 2021</span>
				<a href="{{ site.baseurl }}/semi-final-two/scoreboard#content" title="Load the Semi-final 2 scoreboard" class="left">Scoreboard</a>
				<a href="{{ site.baseurl }}/semi-final-two/vote" title="Vote in Semi-final 2" class="right">Vote</span></a>
			</li>
			
			<li class="home--menu--list-item">
				<span class="home--menu--list-item--event">Grand Final</span>
				<span class="home--menu--list-item--date">22 May 2021</span>
				<a href="{{ site.baseurl }}/grand-final/scoreboard#content" title="Load the Semi-final 1 scoreboard" class="home--menu--list-item--type">Scoreboard</a>
				<a href="{{ site.baseurl }}/grand-final/vote" title="Vote in Semi-final 1" class="home--menu--list-item--type">Vote</a>
			</li>
			
		</ul>
		
	</nav>

</main>

{% include footer.html %}