---
layout: default
---

{% assign event = page.path | remove: ".md" | remove: "_scoreboards/" %}
{% assign running-order = event | append: "-running-order" %}
{% assign entries = site.data.entries | sort: running-order %}
		
{% include loader.html %}

{% include header.html %}
			
<main id="content" class="scoreboard">
	
	<ul id="scoreboard--list" class="{{ event }}">
		
		{% for entry in entries %}
		{% if entry.[event] == "TRUE" %}
			
			<li id="{{ entry.code }}" class="scoreboard--list--entry" data-runningorder="{{ entry.[running-order] }}" data-leaderboard="" data-nowplaying="false">
				<span class="running-order">{{ entry.[running-order] | prepend: "#" }}</span>
				<span class="now-playing">Now playing</span>
				<span class="country">{{ entry.country }}</span>
				<span id="score-{{ entry.code }}" class="score">??</span>
			</li>
		{% endif %}		
		{% endfor %}
		
	</ul>

</main>

{% include footer.html %}